<a href="https://colab.research.google.com/github/EvgeniaKantor/DI-Bootcamp/blob/main/Exercises_XP_Ninja.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercises XP Ninja
## Exercise 1: Formula

In [12]:
C = 50
H = 30

In [13]:
D = input("Enter D: ")

Enter D: 120

In [15]:
# Convert D to an integer before the calculation
D = int(D)

In [20]:
Q = ((2 * C * D)/H) ** 0.5
Q = int(Q)
Q

20

In [21]:
# Function to calculate Q for a given D
def calculate_q(D):
    return round(((2 * C * D) / H) ** 0.5) #The final result of the square root calculation is rounded to the nearest integer using the round() function

# Ask the user for a comma-separated string of numbers
input_string = input("Enter comma-separated values for D: ")

# Split the input string into a list of strings
D_values = input_string.split(',')

# Initialize an empty list to store Q values
Q_values = []

# Loop through each value in the list of D values
for d in D_values:
    # Convert the string to an integer
    D = int(d)
    # Calculate Q using the function
    Q = calculate_q(D)
    # Append the result to the Q_values list
    Q_values.append(Q)

# Convert Q values to strings and join them with commas
output_string = ','.join(map(str, Q_values))

# Print the result
print(output_string)

Enter comma-separated values for D: 100,150,180
18,22,24

## Exercise 2 : List Of Integers

In [40]:
my_list = [3, 47, 99, -80, 22, 97, 54, -23, 5, 7]
my_list

[3, 47, 99, -80, 22, 97, 54, -23, 5, 7]

In [41]:
# The list of numbers – sorted in descending order (largest to smallest)
my_list.sort()
my_list.reverse()
my_list

[99, 97, 54, 47, 22, 7, 5, 3, -23, -80]

In [42]:
# The sum of all the numbers
sum1 = sum(my_list)
sum1

231

In [43]:
# A list containing the first and the last numbers
first_last = [my_list[0], my_list[-1]]
first_last

[99, -80]

In [44]:
# A list of all the numbers greater than 50
new_list = []
for numbers in my_list:
  if numbers > 50:
    new_list.append(numbers)
new_list

[99, 97, 54]

In [45]:
# A list of all the numbers smaller than 10
new_list = []
for numbers in my_list:
  if numbers < 10:
    new_list.append(numbers)
new_list

[7, 5, 3, -23, -80]

In [46]:
# A list of all the numbers squared
squared_list = []
for numbers in my_list:
  squared_list.append(numbers ** 2)
squared_list

[9801, 9409, 2916, 2209, 484, 49, 25, 9, 529, 6400]

In [51]:
# The numbers without any duplicates – also print how many numbers are in the new list
new_list = list(set(my_list))
new_list

[97, 99, 3, 5, 7, -23, 47, -80, 22, 54]

In [52]:
len(new_list)

10

In [53]:
# The average of all the numbers
average = sum(my_list) / len(my_list)
average

23.1

In [54]:
# The largest number
max(my_list)

99

In [55]:
# The smallest number
min(my_list)

-80

In [56]:
# Find the sum, average, largest and smallest number without using built in functions

# Initialize variables
total_sum = 0
count = 0
largest = None
smallest = None

# Loop through the list to calculate sum, count, largest, and smallest
for num in my_list:
    # Calculate sum
    total_sum += num
    # Count number of elements
    count += 1

    # Check for largest number
    if largest is None or num > largest:
        largest = num

    # Check for smallest number
    if smallest is None or num < smallest:
        smallest = num

# Calculate the average
if count > 0:
    average = total_sum / count
else:
    average = 0  # Handle case where the list is empty

# Print the results
print(f"Sum: {total_sum}")
print(f"Average: {average}")
print(f"Largest number: {largest}")
print(f"Smallest number: {smallest}")

Sum: 231
Average: 23.1
Largest number: 99
Smallest number: -80

In [57]:
# Ask the user for an integer between -100 and 100 – repeat this question 10 times. Each number should be added into a variable that you created earlier.

User_input = []
for i in range(10):
    num = int(input("Enter a number between -100 and 100: "))
    User_input.append(num)
User_input

Enter a number between -100 and 100: -99
Enter a number between -100 and 100: 80
Enter a number between -100 and 100: 10
Enter a number between -100 and 100: 55
Enter a number between -100 and 100: -2
Enter a number between -100 and 100: 3
Enter a number between -100 and 100: 0
Enter a number between -100 and 100: 15
Enter a number between -100 and 100: 12
Enter a number between -100 and 100: 77

[-99, 80, 10, 55, -2, 3, 0, 15, 12, 77]

In [58]:
# Generate 10 random integers yourself. Make sure that these random integers are between -100 and 100
import random
random_integers = [random.randint(-100, 100) for _ in range(10)]
random_integers

[39, 31, -83, -53, -77, 15, 30, 83, -85, -12]

In [59]:
#Instead of always generating 10 integers, let the amount of integers also be random! Generate a random positive integer no smaller than 50
random_integers = [random.randint(-100, 100) for _ in range(random.randint(50, 100))]
random_integers

[-28,
 51,
 -41,
 -93,
 13,
 -24,
 4,
 96,
 -89,
 38,
 91,
 -11,
 91,
 -46,
 -16,
 -13,
 -60,
 70,
 -11,
 -65,
 -17,
 -28,
 88,
 49,
 57,
 36,
 -90,
 10,
 -23,
 -18,
 -46,
 -86,
 25,
 88,
 59,
 30,
 98,
 57,
 48,
 9,
 55,
 80,
 32,
 -86,
 -3,
 26,
 61,
 22,
 75,
 100,
 30,
 -67,
 -66,
 26,
 -43,
 77,
 -26,
 31,
 86,
 76,
 39,
 -40]

In [60]:
# Will the code work when the number of random numbers is not equal to 10? YES
random_integers = [random.randint(-100, 100) for _ in range(11)]
random_integers

[31, -45, -25, 54, -83, -77, -56, -44, 73, -8, -77]

##Exercise 3: Working On A Paragraph

In [61]:
paragraph = "Find an interesting paragraph of text online. (Please keep it appropriate to the social context of our class.)"
print(f"The paragraph contains {len(paragraph)} characters")

The paragraph contains 110 characters

In [62]:
# How many sentences it contains
sentences = paragraph.count('.') + paragraph.count('!') + paragraph.count('?')
sentences

2

In [63]:
# How many words it contains
words = len(paragraph.split())
words

18

In [65]:
# How many unique words it contains
unique_words = len(set(paragraph.lower().split()))
unique_words

17

In [66]:
# How many non-whitespace characters it contains
non_whitespace = len(paragraph.replace(' ', ''))
non_whitespace

93

In [67]:
# The average amount of words per sentence in the paragraph
average_words_per_sentence = words / sentences
average_words_per_sentence

9.0

In [68]:
# The amount of non-unique words in the paragraph
non_unique_words = words - unique_words
non_unique_words

1

## Exercise 4 : Frequency Of The Words

In [69]:
# Frequency of the words from the input
diction = {}
for word in input("Write a paragraph: ").split():
  diction[word] = diction.get(word, 0) + 1
diction

Write a paragraph: New to Python or choosing between Python 2 and Python 3? Read Python 2 or Python 3.

{'New': 1,
 'to': 1,
 'Python': 5,
 'or': 2,
 'choosing': 1,
 'between': 1,
 '2': 2,
 'and': 1,
 '3?': 1,
 'Read': 1,
 '3.': 1}