<a href="https://colab.research.google.com/github/EvgeniaKantor/DI-Bootcamp/blob/main/MiniProject_Power_BI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd

In [8]:
df = pd.read_excel('owid-covid-data.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103907 entries, 0 to 103906
Data columns (total 60 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   iso_code                               103907 non-null  object
 1   continent                              99067 non-null   object
 2   location                               103907 non-null  object
 3   date                                   103907 non-null  object
 4   total_cases                            99800 non-null   float64
 5   new_cases                              99797 non-null   float64
 6   new_cases_smoothed                     98787 non-null   float64
 7   total_deaths                           89535 non-null   float64
 8   new_deaths                             89691 non-null   float64
 9   new_deaths_smoothed                    98787 non-null   float64
 10  total_cases_per_million                99270 non-null   float64
 11  new_cases_per_million                  99267 non-null   float64
 12  new_cases_smoothed_per_million         98262 non-null   float64
 13  total_deaths_per_million               89018 non-null   float64
 14  new_deaths_per_million                 89174 non-null   float64
 15  new_deaths_smoothed_per_million        98262 non-null   float64
 16  reproduction_rate                      83707 non-null   float64
 17  icu_patients                           10725 non-null   float64
 18  icu_patients_per_million               10725 non-null   float64
 19  hosp_patients                          12948 non-null   float64
 20  hosp_patients_per_million              12948 non-null   float64
 21  weekly_icu_admissions                  952 non-null     float64
 22  weekly_icu_admissions_per_million      952 non-null     float64
 23  weekly_hosp_admissions                 1617 non-null    float64
 24  weekly_hosp_admissions_per_million     1617 non-null    float64
 25  new_tests                              46416 non-null   float64
 26  total_tests                            46093 non-null   float64
 27  total_tests_per_thousand               46093 non-null   float64
 28  new_tests_per_thousand                 46416 non-null   float64
 29  new_tests_smoothed                     54078 non-null   float64
 30  new_tests_smoothed_per_thousand        54078 non-null   float64
 31  positive_rate                          50496 non-null   float64
 32  tests_per_case                         49866 non-null   float64
 33  tests_units                            55803 non-null   object
 34  total_vaccinations                     18783 non-null   float64
 35  people_vaccinated                      17977 non-null   float64
 36  people_fully_vaccinated                15049 non-null   float64
 37  new_vaccinations                       15656 non-null   float64
 38  new_vaccinations_smoothed              32924 non-null   float64
 39  total_vaccinations_per_hundred         18783 non-null   float64
 40  people_vaccinated_per_hundred          17977 non-null   float64
 41  people_fully_vaccinated_per_hundred    15049 non-null   float64
 42  new_vaccinations_smoothed_per_million  32924 non-null   float64
 43  stringency_index                       87200 non-null   float64
 44  population                             103212 non-null  float64
 45  population_density                     96453 non-null   float64
 46  median_age                             92626 non-null   float64
 47  aged_65_older                          91588 non-null   float64
 48  aged_70_older                          92115 non-null   float64
 49  gdp_per_capita                         93006 non-null   float64
 50  extreme_poverty                        62670 non-null   float64
 51  cardiovasc_death_rate                  92973 non-null   float64
 52  diabetes_prevalence                    95468 non-null   float64
 53  female_smokers                         72697 non-null   float64
 54  male_smokers                           71638 non-null   float64
 55  handwashing_facilities                 46703 non-null   float64
 56  hospital_beds_per_thousand             84661 non-null   float64
 57  life_expectancy                        98646 non-null   float64
 58  human_development_index                93098 non-null   float64
 59  excess_mortality                       3664 non-null    float64
dtypes: float64(55), object(5)
memory usage: 47.6+ MB

In [240]:
# Calculate the total number of cells
total_cells = df.size

# Calculate the number of empty cells
empty_cells = df.isnull().sum().sum()

# Calculate the number of filled cells
filled_cells = total_cells - empty_cells

# Calculate the percentage of empty and filled cells
percent_empty = (empty_cells / total_cells) * 100
percent_filled = (filled_cells / total_cells) * 100

print(f"Total cells: {total_cells}")
print(f"Filled cells: {filled_cells} ({percent_filled:.2f}%)")
print(f"Empty cells: {empty_cells} ({percent_empty:.2f}%)")

Total cells: 6234420
Filled cells: 3709508 (59.50%)
Empty cells: 2524912 (40.50%)

In [241]:
missing_values = df.isnull().sum()
print(missing_values[missing_values > 0])

continent                                  4840
total_cases                                4107
new_cases                                  4110
new_cases_smoothed                         5120
total_deaths                              14372
new_deaths                                14216
new_deaths_smoothed                        5120
total_cases_per_million                    4637
new_cases_per_million                      4640
new_cases_smoothed_per_million             5645
total_deaths_per_million                  14889
new_deaths_per_million                    14733
new_deaths_smoothed_per_million            5645
reproduction_rate                         20200
icu_patients                              93182
icu_patients_per_million                  93182
hosp_patients                             90959
hosp_patients_per_million                 90959
weekly_icu_admissions                    102955
weekly_icu_admissions_per_million        102955
weekly_hosp_admissions                   102290
weekly_hosp_admissions_per_million       102290
new_tests                                 57491
total_tests                               57814
total_tests_per_thousand                  57814
new_tests_per_thousand                    57491
new_tests_smoothed                        49829
new_tests_smoothed_per_thousand           49829
positive_rate                             53411
tests_per_case                            54041
tests_units                               48104
total_vaccinations                        85124
people_vaccinated                         85930
people_fully_vaccinated                   88858
new_vaccinations                          88251
new_vaccinations_smoothed                 70983
total_vaccinations_per_hundred            85124
people_vaccinated_per_hundred             85930
people_fully_vaccinated_per_hundred       88858
new_vaccinations_smoothed_per_million     70983
stringency_index                          16707
population                                  695
population_density                         7454
median_age                                11281
aged_65_older                             12319
aged_70_older                             11792
gdp_per_capita                            10901
extreme_poverty                           41237
cardiovasc_death_rate                     10934
diabetes_prevalence                        8439
female_smokers                            31210
male_smokers                              32269
handwashing_facilities                    57204
hospital_beds_per_thousand                19246
life_expectancy                            5261
human_development_index                   10809
excess_mortality                         100243
dtype: int64

The 'location' column shows countries, but there is also duplicate information, as countries are joined by data for continents, parts of the world and for the world as a whole. So I will delete the rows corresponding to the empty cells in the 'continent' column

In [242]:
df_cleaned = df.dropna(subset=['continent'])
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Index: 99067 entries, 0 to 103906
Data columns (total 60 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   iso_code                               99067 non-null  object
 1   continent                              99067 non-null  object
 2   location                               99067 non-null  object
 3   date                                   99067 non-null  object
 4   total_cases                            94965 non-null  float64
 5   new_cases                              94957 non-null  float64
 6   new_cases_smoothed                     94000 non-null  float64
 7   total_deaths                           84865 non-null  float64
 8   new_deaths                             84864 non-null  float64
 9   new_deaths_smoothed                    94000 non-null  float64
 10  total_cases_per_million                94965 non-null  float64
 11  new_cases_per_million                  94957 non-null  float64
 12  new_cases_smoothed_per_million         94000 non-null  float64
 13  total_deaths_per_million               84865 non-null  float64
 14  new_deaths_per_million                 84864 non-null  float64
 15  new_deaths_smoothed_per_million        94000 non-null  float64
 16  reproduction_rate                      83164 non-null  float64
 17  icu_patients                           10725 non-null  float64
 18  icu_patients_per_million               10725 non-null  float64
 19  hosp_patients                          12948 non-null  float64
 20  hosp_patients_per_million              12948 non-null  float64
 21  weekly_icu_admissions                  952 non-null    float64
 22  weekly_icu_admissions_per_million      952 non-null    float64
 23  weekly_hosp_admissions                 1617 non-null   float64
 24  weekly_hosp_admissions_per_million     1617 non-null   float64
 25  new_tests                              46416 non-null  float64
 26  total_tests                            46093 non-null  float64
 27  total_tests_per_thousand               46093 non-null  float64
 28  new_tests_per_thousand                 46416 non-null  float64
 29  new_tests_smoothed                     54078 non-null  float64
 30  new_tests_smoothed_per_thousand        54078 non-null  float64
 31  positive_rate                          50496 non-null  float64
 32  tests_per_case                         49866 non-null  float64
 33  tests_units                            55803 non-null  object
 34  total_vaccinations                     17119 non-null  float64
 35  people_vaccinated                      16313 non-null  float64
 36  people_fully_vaccinated                13525 non-null  float64
 37  new_vaccinations                       14011 non-null  float64
 38  new_vaccinations_smoothed              31233 non-null  float64
 39  total_vaccinations_per_hundred         17119 non-null  float64
 40  people_vaccinated_per_hundred          16313 non-null  float64
 41  people_fully_vaccinated_per_hundred    13525 non-null  float64
 42  new_vaccinations_smoothed_per_million  31233 non-null  float64
 43  stringency_index                       87200 non-null  float64
 44  population                             98902 non-null  float64
 45  population_density                     95907 non-null  float64
 46  median_age                             92080 non-null  float64
 47  aged_65_older                          91042 non-null  float64
 48  aged_70_older                          91569 non-null  float64
 49  gdp_per_capita                         92460 non-null  float64
 50  extreme_poverty                        62124 non-null  float64
 51  cardiovasc_death_rate                  92427 non-null  float64
 52  diabetes_prevalence                    94922 non-null  float64
 53  female_smokers                         72151 non-null  float64
 54  male_smokers                           71092 non-null  float64
 55  handwashing_facilities                 46157 non-null  float64
 56  hospital_beds_per_thousand             84115 non-null  float64
 57  life_expectancy                        98100 non-null  float64
 58  human_development_index                92552 non-null  float64
 59  excess_mortality                       3664 non-null   float64
dtypes: float64(55), object(5)
memory usage: 46.1+ MB

No population information was given for Northern Cyprus. I found it on the internet for 2021 = 390745

In [243]:
# Add the population value of 326,000 for Northern Cyprus
df_cleaned.loc[df_cleaned['location'] == 'Northern Cyprus', 'population'] = 390745

In [244]:
missing_values = df_cleaned.isnull().sum()
print(missing_values[missing_values > 0])

total_cases                               4102
new_cases                                 4110
new_cases_smoothed                        5067
total_deaths                             14202
new_deaths                               14203
new_deaths_smoothed                       5067
total_cases_per_million                   4102
new_cases_per_million                     4110
new_cases_smoothed_per_million            5067
total_deaths_per_million                 14202
new_deaths_per_million                   14203
new_deaths_smoothed_per_million           5067
reproduction_rate                        15903
icu_patients                             88342
icu_patients_per_million                 88342
hosp_patients                            86119
hosp_patients_per_million                86119
weekly_icu_admissions                    98115
weekly_icu_admissions_per_million        98115
weekly_hosp_admissions                   97450
weekly_hosp_admissions_per_million       97450
new_tests                                52651
total_tests                              52974
total_tests_per_thousand                 52974
new_tests_per_thousand                   52651
new_tests_smoothed                       44989
new_tests_smoothed_per_thousand          44989
positive_rate                            48571
tests_per_case                           49201
tests_units                              43264
total_vaccinations                       81948
people_vaccinated                        82754
people_fully_vaccinated                  85542
new_vaccinations                         85056
new_vaccinations_smoothed                67834
total_vaccinations_per_hundred           81948
people_vaccinated_per_hundred            82754
people_fully_vaccinated_per_hundred      85542
new_vaccinations_smoothed_per_million    67834
stringency_index                         11867
population_density                        3160
median_age                                6987
aged_65_older                             8025
aged_70_older                             7498
gdp_per_capita                            6607
extreme_poverty                          36943
cardiovasc_death_rate                     6640
diabetes_prevalence                       4145
female_smokers                           26916
male_smokers                             27975
handwashing_facilities                   52910
hospital_beds_per_thousand               14952
life_expectancy                            967
human_development_index                   6515
excess_mortality                         95403
dtype: int64

In [245]:
# Drop rows where both 'new_cases' and 'total_cases' are NaN
df_cleaned = df_cleaned.dropna(subset=['new_cases', 'total_cases'], how='all')

In [246]:
columns_to_drop = ['total_deaths', 'total_cases_per_million', 'total_deaths_per_million', 'total_tests', 'total_tests_per_thousand','new_cases_smoothed', 'new_deaths_smoothed']
df_cleaned = df_cleaned.drop(columns=columns_to_drop)

In [247]:
columns_to_drop = ['new_cases_smoothed_per_million', 'new_deaths_smoothed_per_million', 'total_vaccinations', 'total_vaccinations_per_hundred']
df_cleaned = df_cleaned.drop(columns=columns_to_drop)

In [248]:
columns_to_drop = ['new_cases_per_million', 'new_deaths_per_million', 'icu_patients_per_million', 'hosp_patients_per_million', 'weekly_icu_admissions', 'weekly_icu_admissions_per_million', 'weekly_hosp_admissions']
df_cleaned = df_cleaned.drop(columns=columns_to_drop)

In [249]:
columns_to_drop = ['weekly_hosp_admissions_per_million', 'new_tests_per_thousand', 'new_tests_smoothed', 'new_tests_smoothed_per_thousand', 'new_vaccinations_smoothed', 'people_vaccinated_per_hundred']
df_cleaned = df_cleaned.drop(columns=columns_to_drop)

In [250]:
columns_to_drop = ['people_fully_vaccinated_per_hundred', 'new_vaccinations_smoothed_per_million']
df_cleaned = df_cleaned.drop(columns=columns_to_drop)

In [251]:
missing_values = df_cleaned.isnull().sum()
print(missing_values[missing_values > 0])

new_cases                         8
new_deaths                    10102
reproduction_rate             11801
icu_patients                  84246
hosp_patients                 82022
new_tests                     48804
positive_rate                 44585
tests_per_case                45159
tests_units                   39677
people_vaccinated             79629
people_fully_vaccinated       82342
new_vaccinations              81588
stringency_index               9157
population_density             2006
median_age                     4259
aged_65_older                  5291
aged_70_older                  4761
gdp_per_capita                 4040
extreme_poverty               33371
cardiovasc_death_rate          3546
diabetes_prevalence            2028
female_smokers                23508
male_smokers                  24507
handwashing_facilities        48971
hospital_beds_per_thousand    11590
life_expectancy                 494
human_development_index        3052
excess_mortality              91356
dtype: int64

In [252]:
columns_to_drop = ['total_cases']
df_cleaned = df_cleaned.drop(columns=columns_to_drop)

In [253]:
print(df_cleaned.head())

  iso_code continent     location        date  new_cases  new_deaths  \
0      AFG      Asia  Afghanistan  2020-02-24        1.0         NaN
1      AFG      Asia  Afghanistan  2020-02-25        0.0         NaN
2      AFG      Asia  Afghanistan  2020-02-26        0.0         NaN
3      AFG      Asia  Afghanistan  2020-02-27        0.0         NaN
4      AFG      Asia  Afghanistan  2020-02-28        0.0         NaN

   reproduction_rate  icu_patients  hosp_patients  new_tests  ...  \
0                NaN           NaN            NaN        NaN  ...
1                NaN           NaN            NaN        NaN  ...
2                NaN           NaN            NaN        NaN  ...
3                NaN           NaN            NaN        NaN  ...
4                NaN           NaN            NaN        NaN  ...

   extreme_poverty  cardiovasc_death_rate diabetes_prevalence  female_smokers  \
0              NaN                597.029                9.59             NaN
1              NaN                597.029                9.59             NaN
2              NaN                597.029                9.59             NaN
3              NaN                597.029                9.59             NaN
4              NaN                597.029                9.59             NaN

   male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
0           NaN                  37.746                         0.5
1           NaN                  37.746                         0.5
2           NaN                  37.746                         0.5
3           NaN                  37.746                         0.5
4           NaN                  37.746                         0.5

   life_expectancy  human_development_index  excess_mortality
0            64.83                    0.511               NaN
1            64.83                    0.511               NaN
2            64.83                    0.511               NaN
3            64.83                    0.511               NaN
4            64.83                    0.511               NaN

[5 rows x 33 columns]

In [254]:
# Fill NaN values in 'new_cases' with 0
df_cleaned['new_cases'] = df_cleaned['new_cases'].fillna(0)

In [255]:
import pandas as pd

# Convert 'date' column to datetime
df_cleaned['date'] = pd.to_datetime(df_cleaned['date'])

# Sort the DataFrame by 'date'
df_sorted = df_cleaned.sort_values(by='date')

# Extract unique values from 'date' column
unique_dates = df_sorted['date'].dt.date.unique()

# Generate a sequence of dates from the minimum to the maximum date
min_date = df_sorted['date'].min().date()
max_date = df_sorted['date'].max().date()
expected_dates = pd.date_range(start=min_date, end=max_date)

# Identify missing dates in the sequence
missing_dates = expected_dates[~expected_dates.isin(unique_dates)]

print("Unique dates in the DataFrame:")
print(unique_dates)

if len(missing_dates) > 0:
    print("\nMissing dates in the sequence:")
    print(missing_dates)
else:
    print("\nNo missing dates in the sequence.")

Unique dates in the DataFrame:
[datetime.date(2020, 1, 22) datetime.date(2020, 1, 23)
 datetime.date(2020, 1, 24) datetime.date(2020, 1, 25)
 datetime.date(2020, 1, 26) datetime.date(2020, 1, 27)
 datetime.date(2020, 1, 28) datetime.date(2020, 1, 29)
 datetime.date(2020, 1, 30) datetime.date(2020, 1, 31)
 datetime.date(2020, 2, 1) datetime.date(2020, 2, 2)
 datetime.date(2020, 2, 3) datetime.date(2020, 2, 4)
 datetime.date(2020, 2, 5) datetime.date(2020, 2, 6)
 datetime.date(2020, 2, 7) datetime.date(2020, 2, 8)
 datetime.date(2020, 2, 9) datetime.date(2020, 2, 10)
 datetime.date(2020, 2, 11) datetime.date(2020, 2, 12)
 datetime.date(2020, 2, 13) datetime.date(2020, 2, 14)
 datetime.date(2020, 2, 15) datetime.date(2020, 2, 16)
 datetime.date(2020, 2, 17) datetime.date(2020, 2, 18)
 datetime.date(2020, 2, 19) datetime.date(2020, 2, 20)
 datetime.date(2020, 2, 21) datetime.date(2020, 2, 22)
 datetime.date(2020, 2, 23) datetime.date(2020, 2, 24)
 datetime.date(2020, 2, 25) datetime.date(2020, 2, 26)
 datetime.date(2020, 2, 27) datetime.date(2020, 2, 28)
 datetime.date(2020, 2, 29) datetime.date(2020, 3, 1)
 datetime.date(2020, 3, 2) datetime.date(2020, 3, 3)
 datetime.date(2020, 3, 4) datetime.date(2020, 3, 5)
 datetime.date(2020, 3, 6) datetime.date(2020, 3, 7)
 datetime.date(2020, 3, 8) datetime.date(2020, 3, 9)
 datetime.date(2020, 3, 10) datetime.date(2020, 3, 11)
 datetime.date(2020, 3, 12) datetime.date(2020, 3, 13)
 datetime.date(2020, 3, 14) datetime.date(2020, 3, 15)
 datetime.date(2020, 3, 16) datetime.date(2020, 3, 17)
 datetime.date(2020, 3, 18) datetime.date(2020, 3, 19)
 datetime.date(2020, 3, 20) datetime.date(2020, 3, 21)
 datetime.date(2020, 3, 22) datetime.date(2020, 3, 23)
 datetime.date(2020, 3, 24) datetime.date(2020, 3, 25)
 datetime.date(2020, 3, 26) datetime.date(2020, 3, 27)
 datetime.date(2020, 3, 28) datetime.date(2020, 3, 29)
 datetime.date(2020, 3, 30) datetime.date(2020, 3, 31)
 datetime.date(2020, 4, 1) datetime.date(2020, 4, 2)
 datetime.date(2020, 4, 3) datetime.date(2020, 4, 4)
 datetime.date(2020, 4, 5) datetime.date(2020, 4, 6)
 datetime.date(2020, 4, 7) datetime.date(2020, 4, 8)
 datetime.date(2020, 4, 9) datetime.date(2020, 4, 10)
 datetime.date(2020, 4, 11) datetime.date(2020, 4, 12)
 datetime.date(2020, 4, 13) datetime.date(2020, 4, 14)
 datetime.date(2020, 4, 15) datetime.date(2020, 4, 16)
 datetime.date(2020, 4, 17) datetime.date(2020, 4, 18)
 datetime.date(2020, 4, 19) datetime.date(2020, 4, 20)
 datetime.date(2020, 4, 21) datetime.date(2020, 4, 22)
 datetime.date(2020, 4, 23) datetime.date(2020, 4, 24)
 datetime.date(2020, 4, 25) datetime.date(2020, 4, 26)
 datetime.date(2020, 4, 27) datetime.date(2020, 4, 28)
 datetime.date(2020, 4, 29) datetime.date(2020, 4, 30)
 datetime.date(2020, 5, 1) datetime.date(2020, 5, 2)
 datetime.date(2020, 5, 3) datetime.date(2020, 5, 4)
 datetime.date(2020, 5, 5) datetime.date(2020, 5, 6)
 datetime.date(2020, 5, 7) datetime.date(2020, 5, 8)
 datetime.date(2020, 5, 9) datetime.date(2020, 5, 10)
 datetime.date(2020, 5, 11) datetime.date(2020, 5, 12)
 datetime.date(2020, 5, 13) datetime.date(2020, 5, 14)
 datetime.date(2020, 5, 15) datetime.date(2020, 5, 16)
 datetime.date(2020, 5, 17) datetime.date(2020, 5, 18)
 datetime.date(2020, 5, 19) datetime.date(2020, 5, 20)
 datetime.date(2020, 5, 21) datetime.date(2020, 5, 22)
 datetime.date(2020, 5, 23) datetime.date(2020, 5, 24)
 datetime.date(2020, 5, 25) datetime.date(2020, 5, 26)
 datetime.date(2020, 5, 27) datetime.date(2020, 5, 28)
 datetime.date(2020, 5, 29) datetime.date(2020, 5, 30)
 datetime.date(2020, 5, 31) datetime.date(2020, 6, 1)
 datetime.date(2020, 6, 2) datetime.date(2020, 6, 3)
 datetime.date(2020, 6, 4) datetime.date(2020, 6, 5)
 datetime.date(2020, 6, 6) datetime.date(2020, 6, 7)
 datetime.date(2020, 6, 8) datetime.date(2020, 6, 9)
 datetime.date(2020, 6, 10) datetime.date(2020, 6, 11)
 datetime.date(2020, 6, 12) datetime.date(2020, 6, 13)
 datetime.date(2020, 6, 14) datetime.date(2020, 6, 15)
 datetime.date(2020, 6, 16) datetime.date(2020, 6, 17)
 datetime.date(2020, 6, 18) datetime.date(2020, 6, 19)
 datetime.date(2020, 6, 20) datetime.date(2020, 6, 21)
 datetime.date(2020, 6, 22) datetime.date(2020, 6, 23)
 datetime.date(2020, 6, 24) datetime.date(2020, 6, 25)
 datetime.date(2020, 6, 26) datetime.date(2020, 6, 27)
 datetime.date(2020, 6, 28) datetime.date(2020, 6, 29)
 datetime.date(2020, 6, 30) datetime.date(2020, 7, 1)
 datetime.date(2020, 7, 2) datetime.date(2020, 7, 3)
 datetime.date(2020, 7, 4) datetime.date(2020, 7, 5)
 datetime.date(2020, 7, 6) datetime.date(2020, 7, 7)
 datetime.date(2020, 7, 8) datetime.date(2020, 7, 9)
 datetime.date(2020, 7, 10) datetime.date(2020, 7, 11)
 datetime.date(2020, 7, 12) datetime.date(2020, 7, 13)
 datetime.date(2020, 7, 14) datetime.date(2020, 7, 15)
 datetime.date(2020, 7, 16) datetime.date(2020, 7, 17)
 datetime.date(2020, 7, 18) datetime.date(2020, 7, 19)
 datetime.date(2020, 7, 20) datetime.date(2020, 7, 21)
 datetime.date(2020, 7, 22) datetime.date(2020, 7, 23)
 datetime.date(2020, 7, 24) datetime.date(2020, 7, 25)
 datetime.date(2020, 7, 26) datetime.date(2020, 7, 27)
 datetime.date(2020, 7, 28) datetime.date(2020, 7, 29)
 datetime.date(2020, 7, 30) datetime.date(2020, 7, 31)
 datetime.date(2020, 8, 1) datetime.date(2020, 8, 2)
 datetime.date(2020, 8, 3) datetime.date(2020, 8, 4)
 datetime.date(2020, 8, 5) datetime.date(2020, 8, 6)
 datetime.date(2020, 8, 7) datetime.date(2020, 8, 8)
 datetime.date(2020, 8, 9) datetime.date(2020, 8, 10)
 datetime.date(2020, 8, 11) datetime.date(2020, 8, 12)
 datetime.date(2020, 8, 13) datetime.date(2020, 8, 14)
 datetime.date(2020, 8, 15) datetime.date(2020, 8, 16)
 datetime.date(2020, 8, 17) datetime.date(2020, 8, 18)
 datetime.date(2020, 8, 19) datetime.date(2020, 8, 20)
 datetime.date(2020, 8, 21) datetime.date(2020, 8, 22)
 datetime.date(2020, 8, 23) datetime.date(2020, 8, 24)
 datetime.date(2020, 8, 25) datetime.date(2020, 8, 26)
 datetime.date(2020, 8, 27) datetime.date(2020, 8, 28)
 datetime.date(2020, 8, 29) datetime.date(2020, 8, 30)
 datetime.date(2020, 8, 31) datetime.date(2020, 9, 1)
 datetime.date(2020, 9, 2) datetime.date(2020, 9, 3)
 datetime.date(2020, 9, 4) datetime.date(2020, 9, 5)
 datetime.date(2020, 9, 6) datetime.date(2020, 9, 7)
 datetime.date(2020, 9, 8) datetime.date(2020, 9, 9)
 datetime.date(2020, 9, 10) datetime.date(2020, 9, 11)
 datetime.date(2020, 9, 12) datetime.date(2020, 9, 13)
 datetime.date(2020, 9, 14) datetime.date(2020, 9, 15)
 datetime.date(2020, 9, 16) datetime.date(2020, 9, 17)
 datetime.date(2020, 9, 18) datetime.date(2020, 9, 19)
 datetime.date(2020, 9, 20) datetime.date(2020, 9, 21)
 datetime.date(2020, 9, 22) datetime.date(2020, 9, 23)
 datetime.date(2020, 9, 24) datetime.date(2020, 9, 25)
 datetime.date(2020, 9, 26) datetime.date(2020, 9, 27)
 datetime.date(2020, 9, 28) datetime.date(2020, 9, 29)
 datetime.date(2020, 9, 30) datetime.date(2020, 10, 1)
 datetime.date(2020, 10, 2) datetime.date(2020, 10, 3)
 datetime.date(2020, 10, 4) datetime.date(2020, 10, 5)
 datetime.date(2020, 10, 6) datetime.date(2020, 10, 7)
 datetime.date(2020, 10, 8) datetime.date(2020, 10, 9)
 datetime.date(2020, 10, 10) datetime.date(2020, 10, 11)
 datetime.date(2020, 10, 12) datetime.date(2020, 10, 13)
 datetime.date(2020, 10, 14) datetime.date(2020, 10, 15)
 datetime.date(2020, 10, 16) datetime.date(2020, 10, 17)
 datetime.date(2020, 10, 18) datetime.date(2020, 10, 19)
 datetime.date(2020, 10, 20) datetime.date(2020, 10, 21)
 datetime.date(2020, 10, 22) datetime.date(2020, 10, 23)
 datetime.date(2020, 10, 24) datetime.date(2020, 10, 25)
 datetime.date(2020, 10, 26) datetime.date(2020, 10, 27)
 datetime.date(2020, 10, 28) datetime.date(2020, 10, 29)
 datetime.date(2020, 10, 30) datetime.date(2020, 10, 31)
 datetime.date(2020, 11, 1) datetime.date(2020, 11, 2)
 datetime.date(2020, 11, 3) datetime.date(2020, 11, 4)
 datetime.date(2020, 11, 5) datetime.date(2020, 11, 6)
 datetime.date(2020, 11, 7) datetime.date(2020, 11, 8)
 datetime.date(2020, 11, 9) datetime.date(2020, 11, 10)
 datetime.date(2020, 11, 11) datetime.date(2020, 11, 12)
 datetime.date(2020, 11, 13) datetime.date(2020, 11, 14)
 datetime.date(2020, 11, 15) datetime.date(2020, 11, 16)
 datetime.date(2020, 11, 17) datetime.date(2020, 11, 18)
 datetime.date(2020, 11, 19) datetime.date(2020, 11, 20)
 datetime.date(2020, 11, 21) datetime.date(2020, 11, 22)
 datetime.date(2020, 11, 23) datetime.date(2020, 11, 24)
 datetime.date(2020, 11, 25) datetime.date(2020, 11, 26)
 datetime.date(2020, 11, 27) datetime.date(2020, 11, 28)
 datetime.date(2020, 11, 29) datetime.date(2020, 11, 30)
 datetime.date(2020, 12, 1) datetime.date(2020, 12, 2)
 datetime.date(2020, 12, 3) datetime.date(2020, 12, 4)
 datetime.date(2020, 12, 5) datetime.date(2020, 12, 6)
 datetime.date(2020, 12, 7) datetime.date(2020, 12, 8)
 datetime.date(2020, 12, 9) datetime.date(2020, 12, 10)
 datetime.date(2020, 12, 11) datetime.date(2020, 12, 12)
 datetime.date(2020, 12, 13) datetime.date(2020, 12, 14)
 datetime.date(2020, 12, 15) datetime.date(2020, 12, 16)
 datetime.date(2020, 12, 17) datetime.date(2020, 12, 18)
 datetime.date(2020, 12, 19) datetime.date(2020, 12, 20)
 datetime.date(2020, 12, 21) datetime.date(2020, 12, 22)
 datetime.date(2020, 12, 23) datetime.date(2020, 12, 24)
 datetime.date(2020, 12, 25) datetime.date(2020, 12, 26)
 datetime.date(2020, 12, 27) datetime.date(2020, 12, 28)
 datetime.date(2020, 12, 29) datetime.date(2020, 12, 30)
 datetime.date(2020, 12, 31) datetime.date(2021, 1, 1)
 datetime.date(2021, 1, 2) datetime.date(2021, 1, 3)
 datetime.date(2021, 1, 4) datetime.date(2021, 1, 5)
 datetime.date(2021, 1, 6) datetime.date(2021, 1, 7)
 datetime.date(2021, 1, 8) datetime.date(2021, 1, 9)
 datetime.date(2021, 1, 10) datetime.date(2021, 1, 11)
 datetime.date(2021, 1, 12) datetime.date(2021, 1, 13)
 datetime.date(2021, 1, 14) datetime.date(2021, 1, 15)
 datetime.date(2021, 1, 16) datetime.date(2021, 1, 17)
 datetime.date(2021, 1, 18) datetime.date(2021, 1, 19)
 datetime.date(2021, 1, 20) datetime.date(2021, 1, 21)
 datetime.date(2021, 1, 22) datetime.date(2021, 1, 23)
 datetime.date(2021, 1, 24) datetime.date(2021, 1, 25)
 datetime.date(2021, 1, 26) datetime.date(2021, 1, 27)
 datetime.date(2021, 1, 28) datetime.date(2021, 1, 29)
 datetime.date(2021, 1, 30) datetime.date(2021, 1, 31)
 datetime.date(2021, 2, 1) datetime.date(2021, 2, 2)
 datetime.date(2021, 2, 3) datetime.date(2021, 2, 4)
 datetime.date(2021, 2, 5) datetime.date(2021, 2, 6)
 datetime.date(2021, 2, 7) datetime.date(2021, 2, 8)
 datetime.date(2021, 2, 9) datetime.date(2021, 2, 10)
 datetime.date(2021, 2, 11) datetime.date(2021, 2, 12)
 datetime.date(2021, 2, 13) datetime.date(2021, 2, 14)
 datetime.date(2021, 2, 15) datetime.date(2021, 2, 16)
 datetime.date(2021, 2, 17) datetime.date(2021, 2, 18)
 datetime.date(2021, 2, 19) datetime.date(2021, 2, 20)
 datetime.date(2021, 2, 21) datetime.date(2021, 2, 22)
 datetime.date(2021, 2, 23) datetime.date(2021, 2, 24)
 datetime.date(2021, 2, 25) datetime.date(2021, 2, 26)
 datetime.date(2021, 2, 27) datetime.date(2021, 2, 28)
 datetime.date(2021, 3, 1) datetime.date(2021, 3, 2)
 datetime.date(2021, 3, 3) datetime.date(2021, 3, 4)
 datetime.date(2021, 3, 5) datetime.date(2021, 3, 6)
 datetime.date(2021, 3, 7) datetime.date(2021, 3, 8)
 datetime.date(2021, 3, 9) datetime.date(2021, 3, 10)
 datetime.date(2021, 3, 11) datetime.date(2021, 3, 12)
 datetime.date(2021, 3, 13) datetime.date(2021, 3, 14)
 datetime.date(2021, 3, 15) datetime.date(2021, 3, 16)
 datetime.date(2021, 3, 17) datetime.date(2021, 3, 18)
 datetime.date(2021, 3, 19) datetime.date(2021, 3, 20)
 datetime.date(2021, 3, 21) datetime.date(2021, 3, 22)
 datetime.date(2021, 3, 23) datetime.date(2021, 3, 24)
 datetime.date(2021, 3, 25) datetime.date(2021, 3, 26)
 datetime.date(2021, 3, 27) datetime.date(2021, 3, 28)
 datetime.date(2021, 3, 29) datetime.date(2021, 3, 30)
 datetime.date(2021, 3, 31) datetime.date(2021, 4, 1)
 datetime.date(2021, 4, 2) datetime.date(2021, 4, 3)
 datetime.date(2021, 4, 4) datetime.date(2021, 4, 5)
 datetime.date(2021, 4, 6) datetime.date(2021, 4, 7)
 datetime.date(2021, 4, 8) datetime.date(2021, 4, 9)
 datetime.date(2021, 4, 10) datetime.date(2021, 4, 11)
 datetime.date(2021, 4, 12) datetime.date(2021, 4, 13)
 datetime.date(2021, 4, 14) datetime.date(2021, 4, 15)
 datetime.date(2021, 4, 16) datetime.date(2021, 4, 17)
 datetime.date(2021, 4, 18) datetime.date(2021, 4, 19)
 datetime.date(2021, 4, 20) datetime.date(2021, 4, 21)
 datetime.date(2021, 4, 22) datetime.date(2021, 4, 23)
 datetime.date(2021, 4, 24) datetime.date(2021, 4, 25)
 datetime.date(2021, 4, 26) datetime.date(2021, 4, 27)
 datetime.date(2021, 4, 28) datetime.date(2021, 4, 29)
 datetime.date(2021, 4, 30) datetime.date(2021, 5, 1)
 datetime.date(2021, 5, 2) datetime.date(2021, 5, 3)
 datetime.date(2021, 5, 4) datetime.date(2021, 5, 5)
 datetime.date(2021, 5, 6) datetime.date(2021, 5, 7)
 datetime.date(2021, 5, 8) datetime.date(2021, 5, 9)
 datetime.date(2021, 5, 10) datetime.date(2021, 5, 11)
 datetime.date(2021, 5, 12) datetime.date(2021, 5, 13)
 datetime.date(2021, 5, 14) datetime.date(2021, 5, 15)
 datetime.date(2021, 5, 16) datetime.date(2021, 5, 17)
 datetime.date(2021, 5, 18) datetime.date(2021, 5, 19)
 datetime.date(2021, 5, 20) datetime.date(2021, 5, 21)
 datetime.date(2021, 5, 22) datetime.date(2021, 5, 23)
 datetime.date(2021, 5, 24) datetime.date(2021, 5, 25)
 datetime.date(2021, 5, 26) datetime.date(2021, 5, 27)
 datetime.date(2021, 5, 28) datetime.date(2021, 5, 29)
 datetime.date(2021, 5, 30) datetime.date(2021, 5, 31)
 datetime.date(2021, 6, 1) datetime.date(2021, 6, 2)
 datetime.date(2021, 6, 3) datetime.date(2021, 6, 4)
 datetime.date(2021, 6, 5) datetime.date(2021, 6, 6)
 datetime.date(2021, 6, 7) datetime.date(2021, 6, 8)
 datetime.date(2021, 6, 9) datetime.date(2021, 6, 10)
 datetime.date(2021, 6, 11) datetime.date(2021, 6, 12)
 datetime.date(2021, 6, 13) datetime.date(2021, 6, 14)
 datetime.date(2021, 6, 15) datetime.date(2021, 6, 16)
 datetime.date(2021, 6, 17) datetime.date(2021, 6, 18)
 datetime.date(2021, 6, 19) datetime.date(2021, 6, 20)
 datetime.date(2021, 6, 21) datetime.date(2021, 6, 22)
 datetime.date(2021, 6, 23) datetime.date(2021, 6, 24)
 datetime.date(2021, 6, 25) datetime.date(2021, 6, 26)
 datetime.date(2021, 6, 27) datetime.date(2021, 6, 28)
 datetime.date(2021, 6, 29) datetime.date(2021, 6, 30)
 datetime.date(2021, 7, 1) datetime.date(2021, 7, 2)
 datetime.date(2021, 7, 3) datetime.date(2021, 7, 4)
 datetime.date(2021, 7, 5) datetime.date(2021, 7, 6)
 datetime.date(2021, 7, 7) datetime.date(2021, 7, 8)
 datetime.date(2021, 7, 9) datetime.date(2021, 7, 10)
 datetime.date(2021, 7, 11) datetime.date(2021, 7, 12)
 datetime.date(2021, 7, 13) datetime.date(2021, 7, 14)
 datetime.date(2021, 7, 15) datetime.date(2021, 7, 16)
 datetime.date(2021, 7, 17) datetime.date(2021, 7, 18)
 datetime.date(2021, 7, 19) datetime.date(2021, 7, 20)]

No missing dates in the sequence.

In [256]:
# Fill NaN values in 'new_cases' with 0
df_cleaned['new_deaths'] = df_cleaned['new_deaths'].fillna(0)

In [257]:
missing_values = df_cleaned.isnull().sum()
print(missing_values[missing_values > 0])

reproduction_rate             11801
icu_patients                  84246
hosp_patients                 82022
new_tests                     48804
positive_rate                 44585
tests_per_case                45159
tests_units                   39677
people_vaccinated             79629
people_fully_vaccinated       82342
new_vaccinations              81588
stringency_index               9157
population_density             2006
median_age                     4259
aged_65_older                  5291
aged_70_older                  4761
gdp_per_capita                 4040
extreme_poverty               33371
cardiovasc_death_rate          3546
diabetes_prevalence            2028
female_smokers                23508
male_smokers                  24507
handwashing_facilities        48971
hospital_beds_per_thousand    11590
life_expectancy                 494
human_development_index        3052
excess_mortality              91356
dtype: int64

In [258]:
# Group by 'location'
grouped = df_cleaned.groupby('location')

# Function to fill NaN values in 'reproduction_rate' with the average of first and last valid values
def fill_reproduction_rate(group):
    first_value_index = group['reproduction_rate'].first_valid_index()
    last_value_index = group['reproduction_rate'].last_valid_index()

    if first_value_index is not None and last_value_index is not None:
        first_value = group.loc[first_value_index, 'reproduction_rate']
        last_value = group.loc[last_value_index, 'reproduction_rate']
        if not pd.isna(first_value) and not pd.isna(last_value):
            average_value = (first_value + last_value) / 2
            group['reproduction_rate'] = group['reproduction_rate'].fillna(average_value)

    return group

# Apply the function to each group
df_cleaned = grouped.apply(fill_reproduction_rate).reset_index(drop=True)

# Now calculate the average reproduction_rate for each location
location_avg = df_cleaned.groupby('location')['reproduction_rate'].transform('mean')

# Fill remaining NaNs with the location-specific average, unless the average is 0
df_cleaned['reproduction_rate'] = df_cleaned.apply(
    lambda row: row['reproduction_rate'] if not pd.isna(row['reproduction_rate']) else (location_avg[row.name] if location_avg[row.name] != 0 else row['reproduction_rate']),
    axis=1
)

In [178]:
# # Finally, fill any remaining NaN values with 'No defined'
# df_cleaned['reproduction_rate'] = df_cleaned['reproduction_rate'].fillna('No defined')

In [259]:
missing_values = df_cleaned.isnull().sum()
print(missing_values[missing_values > 0])

reproduction_rate              2338
icu_patients                  84246
hosp_patients                 82022
new_tests                     48804
positive_rate                 44585
tests_per_case                45159
tests_units                   39677
people_vaccinated             79629
people_fully_vaccinated       82342
new_vaccinations              81588
stringency_index               9157
population_density             2006
median_age                     4259
aged_65_older                  5291
aged_70_older                  4761
gdp_per_capita                 4040
extreme_poverty               33371
cardiovasc_death_rate          3546
diabetes_prevalence            2028
female_smokers                23508
male_smokers                  24507
handwashing_facilities        48971
hospital_beds_per_thousand    11590
life_expectancy                 494
human_development_index        3052
excess_mortality              91356
dtype: int64

In [260]:
# Filter locations with missing values in 'life_expectancy'
locations_with_missing_life_expectancy = df_cleaned[df_cleaned['life_expectancy'].isna()]['location'].unique()

# Print the locations with missing life expectancy
print("Locations with missing life expectancy:")
print(locations_with_missing_life_expectancy)

Locations with missing life expectancy:
['Kosovo']

In [261]:
# Filter the DataFrame for entries where the location is 'Kosovo'
kosovo_data = df_cleaned[df_cleaned['location'] == 'Kosovo']

# Print unique values of life_expectancy for Kosovo
unique_life_expectancy_kosovo = kosovo_data['life_expectancy'].unique()
print("Unique values of life expectancy for Kosovo:")
print(unique_life_expectancy_kosovo)

Unique values of life expectancy for Kosovo:
[nan]

To fill Nan values for Kosovo i use info from https://tradingeconomics.com/kosovo/life-expectancy-at-birth-total-years-wb-data.html

In [262]:
# Replace NaN values of life_expectancy with 76.57 in the entire DataFrame
df_cleaned['life_expectancy'].fillna(76.57, inplace=True)

In [263]:
missing_values = df_cleaned.isnull().sum()
print(missing_values[missing_values > 0])

reproduction_rate              2338
icu_patients                  84246
hosp_patients                 82022
new_tests                     48804
positive_rate                 44585
tests_per_case                45159
tests_units                   39677
people_vaccinated             79629
people_fully_vaccinated       82342
new_vaccinations              81588
stringency_index               9157
population_density             2006
median_age                     4259
aged_65_older                  5291
aged_70_older                  4761
gdp_per_capita                 4040
extreme_poverty               33371
cardiovasc_death_rate          3546
diabetes_prevalence            2028
female_smokers                23508
male_smokers                  24507
handwashing_facilities        48971
hospital_beds_per_thousand    11590
human_development_index        3052
excess_mortality              91356
dtype: int64

In [264]:
print(df_cleaned.head())

  iso_code continent     location       date  new_cases  new_deaths  \
0      AFG      Asia  Afghanistan 2020-02-24        1.0         0.0
1      AFG      Asia  Afghanistan 2020-02-25        0.0         0.0
2      AFG      Asia  Afghanistan 2020-02-26        0.0         0.0
3      AFG      Asia  Afghanistan 2020-02-27        0.0         0.0
4      AFG      Asia  Afghanistan 2020-02-28        0.0         0.0

   reproduction_rate  icu_patients  hosp_patients  new_tests  ...  \
0              1.175           NaN            NaN        NaN  ...
1              1.175           NaN            NaN        NaN  ...
2              1.175           NaN            NaN        NaN  ...
3              1.175           NaN            NaN        NaN  ...
4              1.175           NaN            NaN        NaN  ...

   extreme_poverty  cardiovasc_death_rate diabetes_prevalence  female_smokers  \
0              NaN                597.029                9.59             NaN
1              NaN                597.029                9.59             NaN
2              NaN                597.029                9.59             NaN
3              NaN                597.029                9.59             NaN
4              NaN                597.029                9.59             NaN

   male_smokers  handwashing_facilities  hospital_beds_per_thousand  \
0           NaN                  37.746                         0.5
1           NaN                  37.746                         0.5
2           NaN                  37.746                         0.5
3           NaN                  37.746                         0.5
4           NaN                  37.746                         0.5

   life_expectancy  human_development_index  excess_mortality
0            64.83                    0.511               NaN
1            64.83                    0.511               NaN
2            64.83                    0.511               NaN
3            64.83                    0.511               NaN
4            64.83                    0.511               NaN

[5 rows x 33 columns]

In [265]:
# Filter human_development_index
locations_with_human_development_index = df_cleaned[df_cleaned['human_development_index'].isna()]['location'].unique()

# Print the locations with missing life expectancy
print("Locations with missing human_development_index:")
print(locations_with_human_development_index)

Locations with missing human_development_index:
['Kosovo' 'Monaco' 'San Marino' 'Somalia' 'Taiwan' 'Vatican']

Fill this empty cells using https://hdr.undp.org/data-center/country-insights#/ranks

In [266]:
# Dictionary containing values to fill for each country
fill_values = {
    'Kosovo': 0.787,
    'Monaco': 0.956,
    'San Marino': 0.961,
    'Somalia': 0.380,
    'Taiwan': 0.926,
    'Vatican': 0.000
}

# Fill empty values in 'human_development_index' column based on the dictionary
for country, value in fill_values.items():
    df_cleaned.loc[df_cleaned['location'] == country, 'human_development_index'] = df_cleaned.loc[df_cleaned['location'] == country, 'human_development_index'].fillna(value)

# Print the DataFrame to verify changes
print(df_cleaned[df_cleaned['location'].isin(fill_values.keys())])

       iso_code continent location       date  new_cases  new_deaths  \
44973  OWID_KOS    Europe   Kosovo 2020-03-14        2.0         0.0
44974  OWID_KOS    Europe   Kosovo 2020-03-15        3.0         0.0
44975  OWID_KOS    Europe   Kosovo 2020-03-16        8.0         0.0
44976  OWID_KOS    Europe   Kosovo 2020-03-17        3.0         0.0
44977  OWID_KOS    Europe   Kosovo 2020-03-18        3.0         0.0
...         ...       ...      ...        ...        ...         ...
92476       VAT    Europe  Vatican 2021-07-16        0.0         0.0
92477       VAT    Europe  Vatican 2021-07-17        0.0         0.0
92478       VAT    Europe  Vatican 2021-07-18        0.0         0.0
92479       VAT    Europe  Vatican 2021-07-19        0.0         0.0
92480       VAT    Europe  Vatican 2021-07-20        0.0         0.0

       reproduction_rate  icu_patients  hosp_patients  new_tests  ...  \
44973                0.9           NaN            NaN        NaN  ...
44974                0.9           NaN            NaN        NaN  ...
44975                0.9           NaN            NaN        NaN  ...
44976                0.9           NaN            NaN        NaN  ...
44977                0.9           NaN            NaN        NaN  ...
...                  ...           ...            ...        ...  ...
92476                NaN           NaN            NaN        NaN  ...
92477                NaN           NaN            NaN        NaN  ...
92478                NaN           NaN            NaN        NaN  ...
92479                NaN           NaN            NaN        NaN  ...
92480                NaN           NaN            NaN        NaN  ...

       extreme_poverty  cardiovasc_death_rate diabetes_prevalence  \
44973              0.6                    NaN                 NaN
44974              0.6                    NaN                 NaN
44975              0.6                    NaN                 NaN
44976              0.6                    NaN                 NaN
44977              0.6                    NaN                 NaN
...                ...                    ...                 ...
92476              NaN                    NaN                 NaN
92477              NaN                    NaN                 NaN
92478              NaN                    NaN                 NaN
92479              NaN                    NaN                 NaN
92480              NaN                    NaN                 NaN

       female_smokers  male_smokers  handwashing_facilities  \
44973             NaN           NaN                     NaN
44974             NaN           NaN                     NaN
44975             NaN           NaN                     NaN
44976             NaN           NaN                     NaN
44977             NaN           NaN                     NaN
...               ...           ...                     ...
92476             NaN           NaN                     NaN
92477             NaN           NaN                     NaN
92478             NaN           NaN                     NaN
92479             NaN           NaN                     NaN
92480             NaN           NaN                     NaN

       hospital_beds_per_thousand  life_expectancy  human_development_index  \
44973                         NaN            76.57                    0.787
44974                         NaN            76.57                    0.787
44975                         NaN            76.57                    0.787
44976                         NaN            76.57                    0.787
44977                         NaN            76.57                    0.787
...                           ...              ...                      ...
92476                         NaN            75.12                    0.000
92477                         NaN            75.12                    0.000
92478                         NaN            75.12                    0.000
92479                         NaN            75.12                    0.000
92480                         NaN            75.12                    0.000

       excess_mortality
44973               NaN
44974               NaN
44975               NaN
44976               NaN
44977               NaN
...                 ...
92476               NaN
92477               NaN
92478               NaN
92479               NaN
92480               NaN

[3052 rows x 33 columns]

In [267]:
missing_values = df_cleaned.isnull().sum()
print(missing_values[missing_values > 0])

reproduction_rate              2338
icu_patients                  84246
hosp_patients                 82022
new_tests                     48804
positive_rate                 44585
tests_per_case                45159
tests_units                   39677
people_vaccinated             79629
people_fully_vaccinated       82342
new_vaccinations              81588
stringency_index               9157
population_density             2006
median_age                     4259
aged_65_older                  5291
aged_70_older                  4761
gdp_per_capita                 4040
extreme_poverty               33371
cardiovasc_death_rate          3546
diabetes_prevalence            2028
female_smokers                23508
male_smokers                  24507
handwashing_facilities        48971
hospital_beds_per_thousand    11590
excess_mortality              91356
dtype: int64

In [268]:
# Print all unique values for the 'location' column
unique_locations = df_cleaned['location'].unique()
print(unique_locations)

['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bhutan' 'Bolivia' 'Bosnia and Herzegovina'
 'Botswana' 'Brazil' 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi'
 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde' 'Central African Republic'
 'Chad' 'Chile' 'China' 'Colombia' 'Comoros' 'Congo' 'Costa Rica'
 "Cote d'Ivoire" 'Croatia' 'Cuba' 'Cyprus' 'Czechia'
 'Democratic Republic of Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Eritrea' 'Estonia' 'Eswatini' 'Ethiopia' 'Fiji' 'Finland' 'France'
 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana' 'Greece' 'Grenada'
 'Guatemala' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras'
 'Hong Kong' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq'
 'Ireland' 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan'
 'Kenya' 'Kiribati' 'Kosovo' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia'
 'Lebanon' 'Lesotho' 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania'
 'Luxembourg' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta'
 'Marshall Islands' 'Mauritania' 'Mauritius' 'Mexico'
 'Micronesia (country)' 'Moldova' 'Monaco' 'Mongolia' 'Montenegro'
 'Morocco' 'Mozambique' 'Myanmar' 'Namibia' 'Nepal' 'Netherlands'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'North Macedonia' 'Norway'
 'Oman' 'Pakistan' 'Palestine' 'Panama' 'Papua New Guinea' 'Paraguay'
 'Peru' 'Philippines' 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russia'
 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Slovakia' 'Slovenia' 'Solomon Islands'
 'Somalia' 'South Africa' 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka'
 'Sudan' 'Suriname' 'Sweden' 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan'
 'Tanzania' 'Thailand' 'Timor' 'Togo' 'Trinidad and Tobago' 'Tunisia'
 'Turkey' 'Uganda' 'Ukraine' 'United Arab Emirates' 'United Kingdom'
 'United States' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Vatican' 'Venezuela'
 'Vietnam' 'Yemen' 'Zambia' 'Zimbabwe']

In [269]:
!pip install countryinfo

Requirement already satisfied: countryinfo in /usr/local/lib/python3.10/dist-packages (0.1.2)

In [270]:
from countryinfo import CountryInfo

# List of countries
countries = ['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana', 'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde', 'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Congo', 'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico', 'Micronesia (country)', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia', 'Norway', 'Oman', 'Pakistan', 'Palestine', 'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa', 'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname', 'Sweden', 'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania', 'Thailand', 'Timor', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey', 'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu', 'Vatican', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']

# Fetch land area data for each country
land_areas = {}
for country in countries:
    try:
        info = CountryInfo(country)
        land_area = info.area()
        if land_area:
            land_areas[country] = land_area
        else:
            print(f"No land area information available for {country}")
    except KeyError:
        print(f"No land area information available for {country}")

# Create a new column 'land_area' based on the dictionary
df_cleaned['land_area'] = df_cleaned['location'].map(land_areas)

No land area information available for Andorra
No land area information available for Bahamas
No land area information available for Congo
No land area information available for Cote d'Ivoire
No land area information available for Czechia
No land area information available for Democratic Republic of Congo
No land area information available for Eswatini
No land area information available for Gambia
No land area information available for Kosovo
No land area information available for Micronesia (country)
No land area information available for Montenegro
No land area information available for Myanmar
No land area information available for North Macedonia
No land area information available for Palestine
No land area information available for Sao Tome and Principe
No land area information available for Timor
No land area information available for Vatican

In [271]:
df_cleaned.head()

,iso_code,continent,location,date,new_cases,new_deaths,reproduction_rate,icu_patients,hosp_patients,new_tests,...,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality,land_area
0,AFG,Asia,Afghanistan,2020-02-24,1.0,0.0,1.175,NaN,NaN,NaN,...,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,652230.0
1,AFG,Asia,Afghanistan,2020-02-25,0.0,0.0,1.175,NaN,NaN,NaN,...,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,652230.0
2,AFG,Asia,Afghanistan,2020-02-26,0.0,0.0,1.175,NaN,NaN,NaN,...,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,652230.0
3,AFG,Asia,Afghanistan,2020-02-27,0.0,0.0,1.175,NaN,NaN,NaN,...,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,652230.0
4,AFG,Asia,Afghanistan,2020-02-28,0.0,0.0,1.175,NaN,NaN,NaN,...,597.029,9.59,NaN,NaN,37.746,0.5,64.83,0.511,NaN,652230.0

In [272]:
# Define a dictionary with the land area values for the countries
land_area_values = {
    'Andorra': 482,
    'Bahamas': 13877,
    'Congo': 2345000,
    "Cote d'Ivoire": 322462,
    'Czechia': 78867,
    'Democratic Republic of Congo': 2345000,
    'Eswatini': 17364,
    'Gambia': 11300,
    'Kosovo': 10887,
    'Micronesia (country)': 701.9,
    'Montenegro': 13812,
    'Myanmar': 676578,
    'North Macedonia': 25713,
    'Palestine': 6025,
    'Sao Tome and Principe': 1001,
    'Timor': 30777,
    'Vatican': 0.44
}

# Update the land_area column in df_cleaned with the values from the dictionary
for country, area in land_area_values.items():
    df_cleaned.loc[df_cleaned['location'] == country, 'land_area'] = area

In [273]:
missing_values = df_cleaned.isnull().sum()
print(missing_values[missing_values > 0])

reproduction_rate              2338
icu_patients                  84246
hosp_patients                 82022
new_tests                     48804
positive_rate                 44585
tests_per_case                45159
tests_units                   39677
people_vaccinated             79629
people_fully_vaccinated       82342
new_vaccinations              81588
stringency_index               9157
population_density             2006
median_age                     4259
aged_65_older                  5291
aged_70_older                  4761
gdp_per_capita                 4040
extreme_poverty               33371
cardiovasc_death_rate          3546
diabetes_prevalence            2028
female_smokers                23508
male_smokers                  24507
handwashing_facilities        48971
hospital_beds_per_thousand    11590
excess_mortality              91356
dtype: int64

In [274]:
# Filter population_density
locations_with_population_density = df_cleaned[df_cleaned['population_density'].isna()]['location'].unique()

# Print the locations with missing population_density
print("Locations with missing population_density:")
print(locations_with_population_density)

Locations with missing population_density:
['South Sudan' 'Syria' 'Taiwan' 'Vatican']

In [275]:
# List of countries
countries = ['South Sudan', 'Syria', 'Taiwan', 'Vatican']

# Calculate population density for each country
for country in countries:
    # Filter DataFrame for the specific country
    country_data = df_cleaned[df_cleaned['location'] == country]

    # Extract population and land area values
    population = country_data['population'].iloc[0]  # Assuming population is unique per country
    land_area = country_data['land_area'].iloc[0]  # Assuming land area is unique per country

    # Calculate population density and update the DataFrame
    population_density = population / land_area
    df_cleaned.loc[df_cleaned['location'] == country, 'population_density'] = population_density

In [276]:
missing_values = df_cleaned.isnull().sum()
print(missing_values[missing_values > 0])

reproduction_rate              2338
icu_patients                  84246
hosp_patients                 82022
new_tests                     48804
positive_rate                 44585
tests_per_case                45159
tests_units                   39677
people_vaccinated             79629
people_fully_vaccinated       82342
new_vaccinations              81588
stringency_index               9157
median_age                     4259
aged_65_older                  5291
aged_70_older                  4761
gdp_per_capita                 4040
extreme_poverty               33371
cardiovasc_death_rate          3546
diabetes_prevalence            2028
female_smokers                23508
male_smokers                  24507
handwashing_facilities        48971
hospital_beds_per_thousand    11590
excess_mortality              91356
dtype: int64

The stringency index is a metric used to quantify the strictness of government policies and interventions in response to the COVID-19 pandemic. It measures the extent to which governments implement various containment and closure policies, such as school closures, workplace closures, and travel bans.

The stringency index is typically calculated based on a variety of indicators, including but not limited to:

School closures
Workplace closures
Cancelation of public events
Restrictions on gatherings
Stay-at-home requirements
Restrictions on internal movement
International travel controls
Public transport closures
Public information campaigns
Testing policy
Each indicator is assigned a score, and the overall stringency index is calculated as a composite score based on the weighted sum of these indicators.

The stringency index provides a comparative measure of how governments around the world are responding to the pandemic and can be used to assess the effectiveness and rigor of their policy measures.

I have found a fresh data https://github.com/owid/covid-19-data/tree/master/public/data

In [277]:
df_fresh = pd.read_csv('/content/owid-covid-data.csv')
df_fresh.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399377 entries, 0 to 399376
Data columns (total 67 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   iso_code                                    399377 non-null  object
 1   continent                                   380241 non-null  object
 2   location                                    399377 non-null  object
 3   date                                        399377 non-null  object
 4   total_cases                                 360296 non-null  float64
 5   new_cases                                   388138 non-null  float64
 6   new_cases_smoothed                          386908 non-null  float64
 7   total_deaths                                337785 non-null  float64
 8   new_deaths                                  388495 non-null  float64
 9   new_deaths_smoothed                         387265 non-null  float64
 10  total_cases_per_million                     360296 non-null  float64
 11  new_cases_per_million                       388138 non-null  float64
 12  new_cases_smoothed_per_million              386908 non-null  float64
 13  total_deaths_per_million                    337785 non-null  float64
 14  new_deaths_per_million                      388495 non-null  float64
 15  new_deaths_smoothed_per_million             387265 non-null  float64
 16  reproduction_rate                           184817 non-null  float64
 17  icu_patients                                38860 non-null   float64
 18  icu_patients_per_million                    38860 non-null   float64
 19  hosp_patients                               40400 non-null   float64
 20  hosp_patients_per_million                   40400 non-null   float64
 21  weekly_icu_admissions                       10821 non-null   float64
 22  weekly_icu_admissions_per_million           10821 non-null   float64
 23  weekly_hosp_admissions                      24326 non-null   float64
 24  weekly_hosp_admissions_per_million          24326 non-null   float64
 25  total_tests                                 79387 non-null   float64
 26  new_tests                                   75403 non-null   float64
 27  total_tests_per_thousand                    79387 non-null   float64
 28  new_tests_per_thousand                      75403 non-null   float64
 29  new_tests_smoothed                          103965 non-null  float64
 30  new_tests_smoothed_per_thousand             103965 non-null  float64
 31  positive_rate                               95927 non-null   float64
 32  tests_per_case                              94348 non-null   float64
 33  tests_units                                 106788 non-null  object
 34  total_vaccinations                          84252 non-null   float64
 35  people_vaccinated                           80047 non-null   float64
 36  people_fully_vaccinated                     76958 non-null   float64
 37  total_boosters                              52466 non-null   float64
 38  new_vaccinations                            69897 non-null   float64
 39  new_vaccinations_smoothed                   193517 non-null  float64
 40  total_vaccinations_per_hundred              84252 non-null   float64
 41  people_vaccinated_per_hundred               80047 non-null   float64
 42  people_fully_vaccinated_per_hundred         76958 non-null   float64
 43  total_boosters_per_hundred                  52466 non-null   float64
 44  new_vaccinations_smoothed_per_million       193517 non-null  float64
 45  new_people_vaccinated_smoothed              190860 non-null  float64
 46  new_people_vaccinated_smoothed_per_hundred  190860 non-null  float64
 47  stringency_index                            197292 non-null  float64
 48  population_density                          339741 non-null  float64
 49  median_age                                  315762 non-null  float64
 50  aged_65_older                               304915 non-null  float64
 51  aged_70_older                               312596 non-null  float64
 52  gdp_per_capita                              309664 non-null  float64
 53  extreme_poverty                             199623 non-null  float64
 54  cardiovasc_death_rate                       310238 non-null  float64
 55  diabetes_prevalence                         326282 non-null  float64
 56  female_smokers                              232906 non-null  float64
 57  male_smokers                                229740 non-null  float64
 58  handwashing_facilities                      152023 non-null  float64
 59  hospital_beds_per_thousand                  274064 non-null  float64
 60  life_expectancy                             368001 non-null  float64
 61  human_development_index                     300954 non-null  float64
 62  population                                  399377 non-null  float64
 63  excess_mortality_cumulative_absolute        13276 non-null   float64
 64  excess_mortality_cumulative                 13276 non-null   float64
 65  excess_mortality                            13276 non-null   float64
 66  excess_mortality_cumulative_per_million     13276 non-null   float64
dtypes: float64(62), object(5)
memory usage: 204.1+ MB

In [278]:
# Convert 'date' column in both dataframes to datetime data type
df_cleaned['date'] = pd.to_datetime(df_cleaned['date'])
df_fresh['date'] = pd.to_datetime(df_fresh['date'])

# Merge df_cleaned with df_fresh to fill missing values in 'stringency_index'
df_merged = pd.merge(df_cleaned, df_fresh[['date', 'location', 'stringency_index']],
                     on=['date', 'location'], how='left', suffixes=('_cleaned', '_fresh'))

# Fill missing values in 'stringency_index_cleaned' with values from 'stringency_index_fresh'
df_merged['stringency_index_cleaned'].fillna(df_merged['stringency_index_fresh'], inplace=True)

# Drop the temporary 'stringency_index_fresh' column
df_merged.drop(columns=['stringency_index_fresh'], inplace=True)

# Now, df_merged contains the updated 'stringency_index' values
# You can assign it back to df_cleaned if needed
df_cleaned = df_merged

In [279]:
missing_values = df_cleaned.isnull().sum()
print(missing_values[missing_values > 0])

reproduction_rate              2338
icu_patients                  84246
hosp_patients                 82022
new_tests                     48804
positive_rate                 44585
tests_per_case                45159
tests_units                   39677
people_vaccinated             79629
people_fully_vaccinated       82342
new_vaccinations              81588
stringency_index_cleaned       7551
median_age                     4259
aged_65_older                  5291
aged_70_older                  4761
gdp_per_capita                 4040
extreme_poverty               33371
cardiovasc_death_rate          3546
diabetes_prevalence            2028
female_smokers                23508
male_smokers                  24507
handwashing_facilities        48971
hospital_beds_per_thousand    11590
excess_mortality              91356
dtype: int64

In [280]:
# List of columns to fill missing values
columns_to_fill = ['icu_patients', 'hosp_patients', 'new_tests', 'positive_rate', 'tests_per_case',
                   'tests_units', 'people_vaccinated', 'people_fully_vaccinated', 'new_vaccinations',
                   'median_age', 'aged_65_older', 'aged_70_older',
                   'gdp_per_capita', 'extreme_poverty', 'cardiovasc_death_rate', 'diabetes_prevalence',
                   'female_smokers', 'male_smokers', 'handwashing_facilities', 'hospital_beds_per_thousand',
                   'excess_mortality']

# Merge df_cleaned with df_fresh to fill missing values in specified columns
for column in columns_to_fill:
    df_merged = pd.merge(df_cleaned, df_fresh[['date', 'location', column]],
                         on=['date', 'location'], how='left', suffixes=('_cleaned', '_fresh'))

    # Fill missing values in 'column_cleaned' with values from 'column_fresh'
    df_merged[f'{column}_cleaned'].fillna(df_merged[f'{column}_fresh'], inplace=True)

    # Drop the temporary 'column_fresh' column
    df_merged.drop(columns=[f'{column}_fresh'], inplace=True)

# Now, df_merged contains the updated values for specified columns
# You can assign it back to df_cleaned if needed
df_cleaned = df_merged

In [281]:
missing_values = df_cleaned.isnull().sum()
print(missing_values[missing_values > 0])

reproduction_rate              2338
icu_patients                  84246
hosp_patients                 82022
new_tests                     48804
positive_rate                 44585
tests_per_case                45159
tests_units                   39677
people_vaccinated             79629
people_fully_vaccinated       82342
new_vaccinations              81588
stringency_index_cleaned       7551
median_age                     4259
aged_65_older                  5291
aged_70_older                  4761
gdp_per_capita                 4040
extreme_poverty               33371
cardiovasc_death_rate          3546
diabetes_prevalence            2028
female_smokers                23508
male_smokers                  24507
handwashing_facilities        48971
hospital_beds_per_thousand    11590
excess_mortality_cleaned      90396
dtype: int64

In [282]:
# Filter stringency_index
locations_with_stringency_index = df_cleaned[df_cleaned['stringency_index_cleaned'].isna()]['location'].unique()

# Print the locations with missing stringency_index
print("Locations with missing stringency_index:")
print(locations_with_stringency_index)

Locations with missing stringency_index:
['Antigua and Barbuda' 'Armenia' 'Comoros' 'Equatorial Guinea' 'Eritrea'
 'Grenada' 'Guinea-Bissau' 'Maldives' 'Marshall Islands'
 'Micronesia (country)' 'Montenegro' 'North Macedonia'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and the Grenadines'
 'Samoa' 'Sao Tome and Principe' 'Vatican']

In [201]:
# # Fill empty cells in 'stringency_index_cleaned' column with 'No info'
# df_cleaned['stringency_index_cleaned'].fillna('No info', inplace=True)

In [283]:
missing_values = df_cleaned.isnull().sum()
print(missing_values[missing_values > 0])

reproduction_rate              2338
icu_patients                  84246
hosp_patients                 82022
new_tests                     48804
positive_rate                 44585
tests_per_case                45159
tests_units                   39677
people_vaccinated             79629
people_fully_vaccinated       82342
new_vaccinations              81588
stringency_index_cleaned       7551
median_age                     4259
aged_65_older                  5291
aged_70_older                  4761
gdp_per_capita                 4040
extreme_poverty               33371
cardiovasc_death_rate          3546
diabetes_prevalence            2028
female_smokers                23508
male_smokers                  24507
handwashing_facilities        48971
hospital_beds_per_thousand    11590
excess_mortality_cleaned      90396
dtype: int64

In [284]:
# Filter median_age
locations_with_median_age = df_cleaned[df_cleaned['median_age'].isna()]['location'].unique()

# Print the locations with missing median_age
print("Locations with missing median_age:")
print(locations_with_median_age)

Locations with missing median_age:
['Andorra' 'Dominica' 'Kosovo' 'Liechtenstein' 'Marshall Islands' 'Monaco'
 'Saint Kitts and Nevis' 'San Marino' 'Vatican']

Age database from https://population.un.org/wpp/Download/Standard/MostUsed/

In [285]:
df_age = pd.read_excel('/content/WPP2022_GEN_F01_DEMOGRAPHIC_INDICATORS_COMPACT_REV1.xlsx')
df_age.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20596 entries, 0 to 20595
Data columns (total 65 columns):
 #   Column                                                                                          Non-Null Count  Dtype
---  ------                                                                                          --------------  -----
 0   Index                                                                                           20596 non-null  int64
 1   Variant                                                                                         20596 non-null  object
 2   Region, subregion, country or area *                                                            20596 non-null  object
 3   Notes                                                                                           5475 non-null   object
 4   Location code                                                                                   20596 non-null  int64
 5   ISO3 Alpha-code                                                                                 17064 non-null  object
 6   ISO2 Alpha-code                                                                                 16992 non-null  object
 7   SDMX code**                                                                                     20304 non-null  float64
 8   Type                                                                                            20596 non-null  object
 9   Parent code                                                                                     20596 non-null  int64
 10  Year                                                                                            20592 non-null  float64
 11  Total Population, as of 1 January (thousands)                                                   20596 non-null  object
 12  Total Population, as of 1 July (thousands)                                                      20596 non-null  object
 13  Male Population, as of 1 July (thousands)                                                       20596 non-null  object
 14  Female Population, as of 1 July (thousands)                                                     20596 non-null  object
 15  Population Density, as of 1 July (persons per square km)                                        20596 non-null  object
 16  Population Sex Ratio, as of 1 July (males per 100 females)                                      20596 non-null  object
 17  Median Age, as of 1 July (years)                                                                20596 non-null  object
 18  Natural Change, Births minus Deaths (thousands)                                                 20596 non-null  object
 19  Rate of Natural Change (per 1,000 population)                                                   20596 non-null  object
 20  Population Change (thousands)                                                                   20596 non-null  object
 21  Population Growth Rate (percentage)                                                             20596 non-null  object
 22  Population Annual Doubling Time (years)                                                         20596 non-null  object
 23  Births (thousands)                                                                              20596 non-null  object
 24  Births by women aged 15 to 19 (thousands)                                                       20596 non-null  object
 25  Crude Birth Rate (births per 1,000 population)                                                  20596 non-null  object
 26  Total Fertility Rate (live births per woman)                                                    20596 non-null  object
 27  Net Reproduction Rate (surviving daughters per woman)                                           20596 non-null  object
 28  Mean Age Childbearing (years)                                                                   20596 non-null  object
 29  Sex Ratio at Birth (males per 100 female births)                                                20596 non-null  object
 30  Total Deaths (thousands)                                                                        20596 non-null  object
 31  Male Deaths (thousands)                                                                         20596 non-null  object
 32  Female Deaths (thousands)                                                                       20596 non-null  object
 33  Crude Death Rate (deaths per 1,000 population)                                                  20596 non-null  object
 34  Life Expectancy at Birth, both sexes (years)                                                    20596 non-null  object
 35  Male Life Expectancy at Birth (years)                                                           20596 non-null  object
 36  Female Life Expectancy at Birth (years)                                                         20596 non-null  object
 37  Life Expectancy at Age 15, both sexes (years)                                                   20596 non-null  object
 38  Male Life Expectancy at Age 15 (years)                                                          20596 non-null  object
 39  Female Life Expectancy at Age 15 (years)                                                        20596 non-null  object
 40  Life Expectancy at Age 65, both sexes (years)                                                   20596 non-null  object
 41  Male Life Expectancy at Age 65 (years)                                                          20596 non-null  object
 42  Female Life Expectancy at Age 65 (years)                                                        20596 non-null  object
 43  Life Expectancy at Age 80, both sexes (years)                                                   20596 non-null  object
 44  Male Life Expectancy at Age 80 (years)                                                          20596 non-null  object
 45  Female Life Expectancy at Age 80 (years)                                                        20596 non-null  object
 46  Infant Deaths, under age 1 (thousands)                                                          20596 non-null  object
 47  Infant Mortality Rate (infant deaths per 1,000 live births)                                     20596 non-null  object
 48  Live Births Surviving to Age 1 (thousands)                                                      20596 non-null  object
 49  Under-Five Deaths, under age 5 (thousands)                                                      20596 non-null  object
 50  Under-Five Mortality (deaths under age 5 per 1,000 live births)                                 20596 non-null  object
 51  Mortality before Age 40, both sexes (deaths under age 40 per 1,000 live births)                 20596 non-null  object
 52  Male Mortality before Age 40 (deaths under age 40 per 1,000 male live births)                   20596 non-null  object
 53  Female Mortality before Age 40 (deaths under age 40 per 1,000 female live births)               20596 non-null  object
 54  Mortality before Age 60, both sexes (deaths under age 60 per 1,000 live births)                 20596 non-null  object
 55  Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)                   20596 non-null  object
 56  Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)               20596 non-null  object
 57  Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)     20596 non-null  object
 58  Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)      20596 non-null  object
 59  Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)  20596 non-null  object
 60  Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)     20596 non-null  object
 61  Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)      20596 non-null  object
 62  Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)  20596 non-null  object
 63  Net Number of Migrants (thousands)                                                              20596 non-null  object
 64  Net Migration Rate (per 1,000 population)                                                       20596 non-null  object
dtypes: float64(2), int64(3), object(60)
memory usage: 10.2+ MB

In [286]:
df_age.columns

Index(['Index', 'Variant', 'Region, subregion, country or area *', 'Notes',
       'Location code', 'ISO3 Alpha-code', 'ISO2 Alpha-code', 'SDMX code**',
       'Type', 'Parent code', 'Year',
       'Total Population, as of 1 January (thousands)',
       'Total Population, as of 1 July (thousands)',
       'Male Population, as of 1 July (thousands)',
       'Female Population, as of 1 July (thousands)',
       'Population Density, as of 1 July (persons per square km)',
       'Population Sex Ratio, as of 1 July (males per 100 females)',
       'Median Age, as of 1 July (years)',
       'Natural Change, Births minus Deaths (thousands)',
       'Rate of Natural Change (per 1,000 population)',
       'Population Change (thousands)', 'Population Growth Rate (percentage)',
       'Population Annual Doubling Time (years)', 'Births (thousands)',
       'Births by women aged 15 to 19 (thousands)',
       'Crude Birth Rate (births per 1,000 population)',
       'Total Fertility Rate (live births per woman)',
       'Net Reproduction Rate (surviving daughters per woman)',
       'Mean Age Childbearing (years)',
       'Sex Ratio at Birth (males per 100 female births)',
       'Total Deaths (thousands)', 'Male Deaths (thousands)',
       'Female Deaths (thousands)',
       'Crude Death Rate (deaths per 1,000 population)',
       'Life Expectancy at Birth, both sexes (years)',
       'Male Life Expectancy at Birth (years)',
       'Female Life Expectancy at Birth (years)',
       'Life Expectancy at Age 15, both sexes (years)',
       'Male Life Expectancy at Age 15 (years)',
       'Female Life Expectancy at Age 15 (years)',
       'Life Expectancy at Age 65, both sexes (years)',
       'Male Life Expectancy at Age 65 (years)',
       'Female Life Expectancy at Age 65 (years)',
       'Life Expectancy at Age 80, both sexes (years)',
       'Male Life Expectancy at Age 80 (years)',
       'Female Life Expectancy at Age 80 (years)',
       'Infant Deaths, under age 1 (thousands)',
       'Infant Mortality Rate (infant deaths per 1,000 live births)',
       'Live Births Surviving to Age 1 (thousands)',
       'Under-Five Deaths, under age 5 (thousands)',
       'Under-Five Mortality (deaths under age 5 per 1,000 live births)',
       'Mortality before Age 40, both sexes (deaths under age 40 per 1,000 live births)',
       'Male Mortality before Age 40 (deaths under age 40 per 1,000 male live births)',
       'Female Mortality before Age 40 (deaths under age 40 per 1,000 female live births)',
       'Mortality before Age 60, both sexes (deaths under age 60 per 1,000 live births)',
       'Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)',
       'Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)',
       'Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)',
       'Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)',
       'Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)',
       'Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)',
       'Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)',
       'Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)',
       'Net Number of Migrants (thousands)',
       'Net Migration Rate (per 1,000 population)'],
      dtype='object')

In [287]:
# Rename columns for consistency
df_age = df_age.rename(columns={
    'Median Age, as of 1 July (years)': 'median_age',
    'Region, subregion, country or area *': 'location'
})

# Convert 'Year' in df_age to datetime format and extract the year
df_age['year'] = pd.to_datetime(df_age['Year'], format='%Y').dt.year

# Convert 'date' columns to datetime format and extract the year
df_cleaned['year'] = pd.to_datetime(df_cleaned['date'], format='%Y-%m-%d').dt.year

# Merge df_cleaned with df_age on 'location' and 'year'
df_merged = pd.merge(df_cleaned, df_age[['location', 'median_age', 'year']],
                     on=['location', 'year'],
                     how='left', suffixes=('', '_age'))

# Fill missing values in 'stringency_index_cleaned' with values from 'stringency_index_fresh'
df_merged['median_age'].fillna(df_merged['median_age_age'], inplace=True)

# Drop the temporary columns
df_merged = df_merged.drop(columns=['median_age_age'])

df_cleaned = df_merged

# Print the updated DataFrame to verify the changes
missing_values = df_cleaned.isnull().sum()
print(missing_values[missing_values > 0])

reproduction_rate              2338
icu_patients                  84246
hosp_patients                 82022
new_tests                     48804
positive_rate                 44585
tests_per_case                45159
tests_units                   39677
people_vaccinated             79629
people_fully_vaccinated       82342
new_vaccinations              81588
stringency_index_cleaned       7551
median_age                      996
aged_65_older                  5291
aged_70_older                  4761
gdp_per_capita                 4040
extreme_poverty               33371
cardiovasc_death_rate          3546
diabetes_prevalence            2028
female_smokers                23508
male_smokers                  24507
handwashing_facilities        48971
hospital_beds_per_thousand    11590
excess_mortality_cleaned      90396
dtype: int64

In [288]:
# Filter median_age
locations_with_median_age = df_cleaned[df_cleaned['median_age'].isna()]['location'].unique()

# Print the locations with missing median_age
print("Locations with missing median_age:")
print(locations_with_median_age)

Locations with missing median_age:
['Kosovo' 'Vatican']

In [289]:
# Assign median age values for Kosovo and Vatican in 2020 and 2021
df_cleaned.loc[(df_cleaned['location'] == 'Kosovo') & (df_cleaned['year'] == 2020), 'median_age'] = 31.92
df_cleaned.loc[(df_cleaned['location'] == 'Vatican') & (df_cleaned['year'] == 2020), 'median_age'] = 57.7
df_cleaned.loc[(df_cleaned['location'] == 'Kosovo') & (df_cleaned['year'] == 2021), 'median_age'] = 32.18
df_cleaned.loc[(df_cleaned['location'] == 'Vatican') & (df_cleaned['year'] == 2021), 'median_age'] = 57.7

In [290]:
# Print the updated DataFrame to verify the changes
missing_values = df_cleaned.isnull().sum()
print(missing_values[missing_values > 0])

reproduction_rate              2338
icu_patients                  84246
hosp_patients                 82022
new_tests                     48804
positive_rate                 44585
tests_per_case                45159
tests_units                   39677
people_vaccinated             79629
people_fully_vaccinated       82342
new_vaccinations              81588
stringency_index_cleaned       7551
aged_65_older                  5291
aged_70_older                  4761
gdp_per_capita                 4040
extreme_poverty               33371
cardiovasc_death_rate          3546
diabetes_prevalence            2028
female_smokers                23508
male_smokers                  24507
handwashing_facilities        48971
hospital_beds_per_thousand    11590
excess_mortality_cleaned      90396
dtype: int64

In [291]:
# Drop rows where location is 'Vatican'
df_cleaned = df_cleaned[df_cleaned['location'] != 'Vatican']

In [292]:
# Convert 'Year' in df_age to datetime format and extract the year
df_age['year'] = pd.to_datetime(df_age['Year'], format='%Y').dt.year

# Convert 'date' columns to datetime format and extract the year
df_cleaned.loc[:, 'year'] = pd.to_datetime(df_cleaned['date'], format='%Y-%m-%d').dt.year

# Rename columns for consistency
df_age = df_age.rename(columns={
    'Life Expectancy at Age 65, both sexes (years)': 'aged_65_older',
    'Life Expectancy at Age 80, both sexes (years)': 'aged_70_older'
})

columns_to_fill = ['aged_65_older', 'aged_70_older']

# Merge df_cleaned with df_fresh to fill missing values in specified columns
for column in columns_to_fill:
    df_merged = pd.merge(df_cleaned, df_age[['year', 'location', column]],
                         on=['year', 'location'], how='left', suffixes=('', '_age'))

    # Fill missing values in 'column' with values from 'column_age'
    df_merged[f'{column}'].fillna(df_merged[f'{column}_age'], inplace=True)

    # Drop the temporary 'column_age' column
    df_merged.drop(columns=[f'{column}_age'], inplace=True)

df_cleaned = df_merged

# Print the updated DataFrame to verify the changes
missing_values = df_cleaned.isnull().sum()
print(missing_values[missing_values > 0])

reproduction_rate              1836
icu_patients                  83744
hosp_patients                 81520
new_tests                     48302
positive_rate                 44083
tests_per_case                44657
tests_units                   39175
people_vaccinated             79127
people_fully_vaccinated       81840
new_vaccinations              81086
stringency_index_cleaned       7049
aged_65_older                  4789
aged_70_older                   494
gdp_per_capita                 3538
extreme_poverty               32869
cardiovasc_death_rate          3044
diabetes_prevalence            1526
female_smokers                23006
male_smokers                  24005
handwashing_facilities        48469
hospital_beds_per_thousand    11088
excess_mortality_cleaned      89894
dtype: int64

In [293]:
# Filter aged_65_older
locations_with_aged_65_older = df_cleaned[df_cleaned['aged_65_older'].isna()]['location'].unique()

# Print the locations with missing aged_65_older
print("Locations with missing aged_65_older:")
print(locations_with_aged_65_older)

Locations with missing aged_65_older:
['Andorra' 'Dominica' 'Kosovo' 'Liechtenstein' 'Marshall Islands' 'Monaco'
 'Saint Kitts and Nevis' 'San Marino' 'Syria' 'Taiwan']

In [294]:
df_merged = pd.merge(df_cleaned, df_age[['year', 'location', 'aged_65_older']],
                     on=['year', 'location'], how='left', suffixes=('', '_age'))

# Fill missing values in 'aged_65_older' with values from 'aged_65_older_age'
df_merged['aged_65_older'].fillna(df_merged['aged_65_older_age'], inplace=True)

# Drop the temporary 'aged_65_older_age' column
df_merged.drop(columns=['aged_65_older_age'], inplace=True)

df_cleaned = df_merged

# Print the updated DataFrame to verify the changes
missing_values = df_cleaned.isnull().sum()
print(missing_values[missing_values > 0])

reproduction_rate              1836
icu_patients                  83744
hosp_patients                 81520
new_tests                     48302
positive_rate                 44083
tests_per_case                44657
tests_units                   39175
people_vaccinated             79127
people_fully_vaccinated       81840
new_vaccinations              81086
stringency_index_cleaned       7049
aged_65_older                  1526
aged_70_older                   494
gdp_per_capita                 3538
extreme_poverty               32869
cardiovasc_death_rate          3044
diabetes_prevalence            1526
female_smokers                23006
male_smokers                  24005
handwashing_facilities        48469
hospital_beds_per_thousand    11088
excess_mortality_cleaned      89894
dtype: int64

In [295]:
# Filter aged_65_older
locations_with_aged_65_older = df_cleaned[df_cleaned['aged_65_older'].isna()]['location'].unique()

# Print the locations with missing aged_65_older
print("Locations with missing aged_65_older:")
print(locations_with_aged_65_older)

Locations with missing aged_65_older:
['Kosovo' 'Syria' 'Taiwan']

In [296]:
# Filter aged_70_older
locations_with_aged_70_older = df_cleaned[df_cleaned['aged_70_older'].isna()]['location'].unique()

# Print the locations with missing aged_70_older
print("Locations with missing aged_70_older:")
print(locations_with_aged_70_older)

Locations with missing aged_70_older:
['Kosovo']

In [297]:
# Define the values to fill for each location and year
fill_values = {
    2020: {'Kosovo': 8.8, 'Syria': 14.769, 'Taiwan': 20.332},
    2021: {'Kosovo': 9.08, 'Syria': 14.482, 'Taiwan': 20.369}
}

# Iterate over the years and locations to fill the values
for year, locations in fill_values.items():
    for location, value in locations.items():
        mask = (df_cleaned['year'] == year) & (df_cleaned['location'] == location) & (df_cleaned['aged_65_older'].isna())
        df_cleaned.loc[mask, 'aged_65_older'] = value

In [298]:
# Filter aged_65_older
locations_with_aged_65_older = df_cleaned[df_cleaned['aged_65_older'].isna()]['location'].unique()

# Print the locations with missing aged_65_older
print("Locations with missing aged_65_older:")
print(locations_with_aged_65_older)

Locations with missing aged_65_older:
[]

In [299]:
# Define the values to fill for each location and year
fill_values = {
    2020: {'Kosovo': 2.8},
    2021: {'Kosovo': 3.08}
}

# Iterate over the years and locations to fill the values
for year, locations in fill_values.items():
    for location, value in locations.items():
        mask = (df_cleaned['year'] == year) & (df_cleaned['location'] == location) & (df_cleaned['aged_70_older'].isna())
        df_cleaned.loc[mask, 'aged_70_older'] = value

In [300]:
# Print the updated DataFrame to verify the changes
missing_values = df_cleaned.isnull().sum()
print(missing_values[missing_values > 0])

reproduction_rate              1836
icu_patients                  83744
hosp_patients                 81520
new_tests                     48302
positive_rate                 44083
tests_per_case                44657
tests_units                   39175
people_vaccinated             79127
people_fully_vaccinated       81840
new_vaccinations              81086
stringency_index_cleaned       7049
gdp_per_capita                 3538
extreme_poverty               32869
cardiovasc_death_rate          3044
diabetes_prevalence            1526
female_smokers                23006
male_smokers                  24005
handwashing_facilities        48469
hospital_beds_per_thousand    11088
excess_mortality_cleaned      89894
dtype: int64

In [301]:
# Filter aged_70_older
locations_with_gdp_per_capita = df_cleaned[df_cleaned['gdp_per_capita'].isna()]['location'].unique()

# Print the locations with missing gdp_per_capita
print("Locations with missing gdp_per_capitar:")
print(locations_with_gdp_per_capita)

Locations with missing gdp_per_capitar:
['Andorra' 'Cuba' 'Liechtenstein' 'Monaco' 'Somalia' 'Syria' 'Taiwan']

In [302]:
df_gdp_2020 = pd.read_csv('/content/GDP per capita (current US$)_2020.csv')
df_gdp_2021 = pd.read_csv('/content/GDP per capita (current US$)_2021.csv')
print(df_gdp_2020.head())

          Economy  Year Economy Code  GDP per capita (current US$)
0     Afghanistan  2020          AFG                       512.055
1         Albania  2020          ALB                      5343.038
2         Algeria  2020          DZA                      3354.153
3  American Samoa  2020          ASM                     15609.777
4         Andorra  2020          AND                     37207.239

In [303]:
print(df_gdp_2021.head())

          Economy  Year Economy Code  GDP per capita (current US$)
0     Afghanistan  2021          AFG                       355.778
1         Albania  2021          ALB                      6377.203
2         Algeria  2021          DZA                      3700.315
3  American Samoa  2021          ASM                     16653.714
4         Andorra  2021          AND                     42072.319

In [304]:
print(df_gdp_2020.columns)

Index(['Economy', 'Year', 'Economy Code', 'GDP per capita (current US$)'], dtype='object')

In [305]:
# Convert 'Year' in df_gdp_2021 to datetime format and extract the year
df_gdp_2021['year'] = pd.to_datetime(df_gdp_2021['Year'], format='%Y').dt.year

# Rename columns for consistency
df_gdp_2021 = df_gdp_2021.rename(columns={
    'GDP per capita (current US$)': 'gdp_per_capita',
    'Economy Code': 'iso_code'
})

# Merge df_cleaned with df_gdp_2021 to update GDP per capita for 2021
df_merged_2021 = pd.merge(df_cleaned, df_gdp_2021[['iso_code', 'year', 'gdp_per_capita']],
                          on=['iso_code', 'year'], how='left', suffixes=('', '_2021'))

# Replace values in 'gdp_per_capita' column of df_cleaned with values from df_merged_2021
df_cleaned['gdp_per_capita'] = df_merged_2021['gdp_per_capita_2021'].combine_first(df_cleaned['gdp_per_capita'])
df_merged_2021['gdp_per_capita'].fillna(df_merged_2021['gdp_per_capita_2021'], inplace=True)

# Drop temporary columns
df_merged_2021.drop(columns=['gdp_per_capita_2021'], inplace=True)

# Assign back to df_cleaned
df_cleaned = df_merged_2021

In [306]:
# Convert 'Year' in df_gdp_2020 to datetime format and extract the year
df_gdp_2020['year'] = pd.to_datetime(df_gdp_2020['Year'], format='%Y').dt.year

# Rename columns for consistency
df_gdp_2020 = df_gdp_2020.rename(columns={
    'GDP per capita (current US$)': 'gdp_per_capita',
    'Economy Code': 'iso_code'
})

# Merge df_cleaned with df_gdp_2021 to update GDP per capita for 2021
df_merged_2020 = pd.merge(df_cleaned, df_gdp_2020[['iso_code', 'year', 'gdp_per_capita']],
                          on=['iso_code', 'year'], how='left', suffixes=('', '_2020'))

# Replace values in 'gdp_per_capita' column of df_cleaned with values from df_merged_2020
df_cleaned['gdp_per_capita'] = df_merged_2020['gdp_per_capita_2020'].combine_first(df_cleaned['gdp_per_capita'])
df_merged_2020['gdp_per_capita'].fillna(df_merged_2020['gdp_per_capita_2020'], inplace=True)

# Drop temporary columns
df_merged_2020.drop(columns=['gdp_per_capita_2020'], inplace=True)

# Assign back to df_cleaned
df_cleaned = df_merged_2020

In [307]:
# Print the updated DataFrame to verify the changes
missing_values = df_cleaned.isnull().sum()
print(missing_values[missing_values > 0])

reproduction_rate              1836
icu_patients                  83744
hosp_patients                 81520
new_tests                     48302
positive_rate                 44083
tests_per_case                44657
tests_units                   39175
people_vaccinated             79127
people_fully_vaccinated       81840
new_vaccinations              81086
stringency_index_cleaned       7049
gdp_per_capita                  747
extreme_poverty               32869
cardiovasc_death_rate          3044
diabetes_prevalence            1526
female_smokers                23006
male_smokers                  24005
handwashing_facilities        48469
hospital_beds_per_thousand    11088
excess_mortality_cleaned      89894
dtype: int64

In [308]:
# Filter gdp_per_capita
locations_with_gdp_per_capita = df_cleaned[df_cleaned['gdp_per_capita'].isna()]['location'].unique()

# Print the locations with missing gdp_per_capita
print("Locations with missing gdp_per_capitar:")
print(locations_with_gdp_per_capita)

Locations with missing gdp_per_capitar:
['Cuba' 'Taiwan']

In [309]:
# Define the missing values
missing_gdp_values = {
    ('Cuba', 2020): 9499.57,
    ('Taiwan', 2020): 28707,
    ('Cuba', 2021): 48436.38,
    ('Taiwan', 2021): 33176
}

# Iterate over the missing values and update the DataFrame
for (country, year), gdp_value in missing_gdp_values.items():
    df_cleaned.loc[(df_cleaned['location'] == country) & (df_cleaned['year'] == year), 'gdp_per_capita'] = gdp_value

In [310]:
# Print the updated DataFrame to verify the changes
missing_values = df_cleaned.isnull().sum()
print(missing_values[missing_values > 0])

reproduction_rate              1836
icu_patients                  83744
hosp_patients                 81520
new_tests                     48302
positive_rate                 44083
tests_per_case                44657
tests_units                   39175
people_vaccinated             79127
people_fully_vaccinated       81840
new_vaccinations              81086
stringency_index_cleaned       7049
extreme_poverty               32869
cardiovasc_death_rate          3044
diabetes_prevalence            1526
female_smokers                23006
male_smokers                  24005
handwashing_facilities        48469
hospital_beds_per_thousand    11088
excess_mortality_cleaned      89894
dtype: int64

In [311]:
# Filter gdp_per_capita
locations_with_cardiovasc_death_rate = df_cleaned[df_cleaned['cardiovasc_death_rate'].isna()]['location'].unique()

# Print the locations with missing cardiovasc_death_rate
print("Locations with missing cardiovasc_death_rate:")
print(locations_with_cardiovasc_death_rate)

Locations with missing cardiovasc_death_rate:
['Hong Kong' 'Kosovo' 'Liechtenstein' 'Monaco' 'Saint Kitts and Nevis'
 'San Marino']

https://www.jacc.org/doi/10.1016/j.jacc.2022.11.005

In [312]:
# Calculate the total number of cells
total_cells = df_cleaned.size

# Calculate the number of empty cells
empty_cells = df_cleaned.isnull().sum().sum()

# Calculate the number of filled cells
filled_cells = total_cells - empty_cells

# Calculate the percentage of empty and filled cells
percent_empty = (empty_cells / total_cells) * 100
percent_filled = (filled_cells / total_cells) * 100

print(f"Total cells: {total_cells}")
print(f"Filled cells: {filled_cells} ({percent_filled:.2f}%)")
print(f"Empty cells: {empty_cells} ({percent_empty:.2f}%)")

Total cells: 3306205
Filled cells: 2479885 (75.01%)
Empty cells: 826320 (24.99%)

In [313]:
# Identify columns without any missing values
columns_without_missing_values = df_cleaned.columns[df_cleaned.notna().all()]

# Print the columns without missing values
print("Columns without missing values:")
for column in columns_without_missing_values:
    print(column)

Columns without missing values:
iso_code
continent
location
date
new_cases
new_deaths
population
population_density
median_age
aged_65_older
aged_70_older
gdp_per_capita
life_expectancy
human_development_index
land_area
year

In [335]:
# Define the columns to include in the new DataFrame
columns_to_include = [
    'continent', 'location', 'date', 'new_cases', 'new_deaths', 'reproduction_rate', 'population',
    'population_density', 'median_age', 'gdp_per_capita', 'life_expectancy',
    'human_development_index', 'land_area', 'stringency_index_cleaned', 'year'
]

# Create the new DataFrame with the specified columns
df_corona_case = df_cleaned[columns_to_include]

df_corona_case.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94463 entries, 0 to 94462
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   continent                 94463 non-null  object
 1   location                  94463 non-null  object
 2   date                      94463 non-null  datetime64[ns]
 3   new_cases                 94463 non-null  float64
 4   new_deaths                94463 non-null  float64
 5   reproduction_rate         92627 non-null  float64
 6   population                94463 non-null  float64
 7   population_density        94463 non-null  float64
 8   median_age                94463 non-null  float64
 9   gdp_per_capita            94463 non-null  float64
 10  life_expectancy           94463 non-null  float64
 11  human_development_index   94463 non-null  float64
 12  land_area                 94463 non-null  float64
 13  stringency_index_cleaned  87414 non-null  float64
 14  year                      94463 non-null  int32
dtypes: datetime64[ns](1), float64(11), int32(1), object(2)
memory usage: 10.5+ MB

In [336]:
# Drop all rows with any missing values
df_corona_case = df_corona_case.dropna()
df_corona_case.info()

<class 'pandas.core.frame.DataFrame'>
Index: 86270 entries, 0 to 94462
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   continent                 86270 non-null  object
 1   location                  86270 non-null  object
 2   date                      86270 non-null  datetime64[ns]
 3   new_cases                 86270 non-null  float64
 4   new_deaths                86270 non-null  float64
 5   reproduction_rate         86270 non-null  float64
 6   population                86270 non-null  float64
 7   population_density        86270 non-null  float64
 8   median_age                86270 non-null  float64
 9   gdp_per_capita            86270 non-null  float64
 10  life_expectancy           86270 non-null  float64
 11  human_development_index   86270 non-null  float64
 12  land_area                 86270 non-null  float64
 13  stringency_index_cleaned  86270 non-null  float64
 14  year                      86270 non-null  int32
dtypes: datetime64[ns](1), float64(11), int32(1), object(2)
memory usage: 10.2+ MB

In [337]:
# Define the columns to include in the new DataFrame
columns_to_include = [
    'iso_code', 'continent', 'location', 'year', 'population', 'population_density',
    'median_age', 'aged_65_older', 'aged_70_older', 'gdp_per_capita', 'life_expectancy',
    'human_development_index', 'land_area',
    'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers', 'male_smokers',
    'hospital_beds_per_thousand'
]

# Create the new DataFrame with the specified columns
df_countries = df_cleaned[columns_to_include]

df_countries.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94463 entries, 0 to 94462
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   iso_code                    94463 non-null  object
 1   continent                   94463 non-null  object
 2   location                    94463 non-null  object
 3   year                        94463 non-null  int32
 4   population                  94463 non-null  float64
 5   population_density          94463 non-null  float64
 6   median_age                  94463 non-null  float64
 7   aged_65_older               94463 non-null  float64
 8   aged_70_older               94463 non-null  float64
 9   gdp_per_capita              94463 non-null  float64
 10  life_expectancy             94463 non-null  float64
 11  human_development_index     94463 non-null  float64
 12  land_area                   94463 non-null  float64
 13  cardiovasc_death_rate       91419 non-null  float64
 14  diabetes_prevalence         92937 non-null  float64
 15  female_smokers              71457 non-null  float64
 16  male_smokers                70458 non-null  float64
 17  hospital_beds_per_thousand  83375 non-null  float64
dtypes: float64(14), int32(1), object(3)
memory usage: 12.6+ MB

In [338]:
# Drop all rows with any missing values
df_countries = df_countries.dropna()
df_countries.info()

<class 'pandas.core.frame.DataFrame'>
Index: 65059 entries, 513 to 94462
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   iso_code                    65059 non-null  object
 1   continent                   65059 non-null  object
 2   location                    65059 non-null  object
 3   year                        65059 non-null  int32
 4   population                  65059 non-null  float64
 5   population_density          65059 non-null  float64
 6   median_age                  65059 non-null  float64
 7   aged_65_older               65059 non-null  float64
 8   aged_70_older               65059 non-null  float64
 9   gdp_per_capita              65059 non-null  float64
 10  life_expectancy             65059 non-null  float64
 11  human_development_index     65059 non-null  float64
 12  land_area                   65059 non-null  float64
 13  cardiovasc_death_rate       65059 non-null  float64
 14  diabetes_prevalence         65059 non-null  float64
 15  female_smokers              65059 non-null  float64
 16  male_smokers                65059 non-null  float64
 17  hospital_beds_per_thousand  65059 non-null  float64
dtypes: float64(14), int32(1), object(3)
memory usage: 9.2+ MB

In [339]:
# Drop duplicate rows
df_countries = df_countries.drop_duplicates()

In [340]:
df_countries.info()

<class 'pandas.core.frame.DataFrame'>
Index: 257 entries, 513 to 94262
Data columns (total 18 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   iso_code                    257 non-null    object
 1   continent                   257 non-null    object
 2   location                    257 non-null    object
 3   year                        257 non-null    int32
 4   population                  257 non-null    float64
 5   population_density          257 non-null    float64
 6   median_age                  257 non-null    float64
 7   aged_65_older               257 non-null    float64
 8   aged_70_older               257 non-null    float64
 9   gdp_per_capita              257 non-null    float64
 10  life_expectancy             257 non-null    float64
 11  human_development_index     257 non-null    float64
 12  land_area                   257 non-null    float64
 13  cardiovasc_death_rate       257 non-null    float64
 14  diabetes_prevalence         257 non-null    float64
 15  female_smokers              257 non-null    float64
 16  male_smokers                257 non-null    float64
 17  hospital_beds_per_thousand  257 non-null    float64
dtypes: float64(14), int32(1), object(3)
memory usage: 37.1+ KB

In [341]:
print(df_countries.head(10))

     iso_code      continent   location  year  population  population_density  \
513       ALB         Europe    Albania  2020   2877800.0             104.871
811       ALB         Europe    Albania  2021   2877800.0             104.871
1012      DZA         Africa    Algeria  2020  43851043.0              17.348
1323      DZA         Africa    Algeria  2021  43851043.0              17.348
3013      ARG  South America  Argentina  2020  45195777.0              16.177
3317      ARG  South America  Argentina  2021  45195777.0              16.177
3518      ARM           Asia    Armenia  2020   2963234.0             102.931
3824      ARM           Asia    Armenia  2021   2963234.0             102.931
4025      AUS        Oceania  Australia  2020  25499881.0               3.202
4366      AUS        Oceania  Australia  2021  25499881.0               3.202

      median_age  aged_65_older  aged_70_older  gdp_per_capita  \
513         38.0         13.188          8.643       11803.431
811         38.0         13.188          8.643       11803.431
1012        29.1          6.211          3.857       13913.839
1323        29.1          6.211          3.857       13913.839
3013        31.9         11.198          7.441       18933.907
3317        31.9         11.198          7.441       18933.907
3518        35.7         11.232          7.571        8787.580
3824        35.7         11.232          7.571        8787.580
4025        37.9         15.504         10.129       44648.710
4366        37.9         15.504         10.129       44648.710

      life_expectancy  human_development_index  land_area  \
513             78.57                    0.795    28748.0
811             78.57                    0.795    28748.0
1012            76.88                    0.748  2381741.0
1323            76.88                    0.748  2381741.0
3013            76.67                    0.845  2780400.0
3317            76.67                    0.845  2780400.0
3518            75.09                    0.776    29743.0
3824            75.09                    0.776    29743.0
4025            83.44                    0.944  7692024.0
4366            83.44                    0.944  7692024.0

      cardiovasc_death_rate  diabetes_prevalence  female_smokers  \
513                 304.195                10.08             7.1
811                 304.195                10.08             7.1
1012                278.364                 6.73             0.7
1323                278.364                 6.73             0.7
3013                191.032                 5.50            16.2
3317                191.032                 5.50            16.2
3518                341.010                 7.11             1.5
3824                341.010                 7.11             1.5
4025                107.791                 5.07            13.0
4366                107.791                 5.07            13.0

      male_smokers  hospital_beds_per_thousand
513           51.2                        2.89
811           51.2                        2.89
1012          30.4                        1.90
1323          30.4                        1.90
3013          27.7                        5.00
3317          27.7                        5.00
3518          52.1                        4.20
3824          52.1                        4.20
4025          16.5                        3.84
4366          16.5                        3.84

In [342]:
# Save df_countries to Excel
df_countries.to_excel('df_countries.xlsx', index=False)

# Save df_corona_case to Excel
df_corona_case.to_excel('df_corona_case.xlsx', index=False)

# Print confirmation
print("DataFrames saved as Excel files.")

DataFrames saved as Excel files.