<a href="https://colab.research.google.com/github/EvgeniaKantor/DI-Bootcamp/blob/main/Exercises_W4D4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exercise 1: Duplicate Detection And Removal

In [2]:
from google.colab import files
uploaded = files.upload()
# Make directory named kaggle and copy kaggle.json file there
!mkdir ~/.kaggle
!cp kaggle.json ~/.kaggle/

# Change the permissions of the file
!chmod 600 ~/.kaggle/kaggle.json

Saving kaggle.json to kaggle (1).json
mkdir: cannot create directory ‘/root/.kaggle’: File exists

In [3]:
!kaggle datasets download -d heptapod/titanic

Downloading titanic.zip to /content
  0% 0.00/10.8k [00:00<?, ?B/s]
100% 10.8k/10.8k [00:00<00:00, 14.9MB/s]

In [4]:
!unzip titanic.zip

Archive:  titanic.zip
  inflating: train_and_test2.csv

In [6]:
import pandas as pd

# Load the Titanic dataset
titanic_data = pd.read_csv('train_and_test2.csv')

# Explore the dataset
print(titanic_data.head())
print(titanic_data.info())

   Passengerid   Age     Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
0            1  22.0   7.2500    0      1     0       0       0       0
1            2  38.0  71.2833    1      1     0       0       0       0
2            3  26.0   7.9250    1      0     0       0       0       0
3            4  35.0  53.1000    1      1     0       0       0       0
4            5  35.0   8.0500    0      0     0       0       0       0

   zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  Embarked  \
0       0  ...        0        0        0       3        0        0       2.0
1       0  ...        0        0        0       1        0        0       0.0
2       0  ...        0        0        0       3        0        0       2.0
3       0  ...        0        0        0       1        0        0       2.0
4       0  ...        0        0        0       3        0        0       2.0

   zero.17  zero.18  2urvived
0        0        0         0
1        0        0         1
2        0        0         1
3        0        0         1
4        0        0         0

[5 rows x 28 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 28 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Passengerid  1309 non-null   int64
 1   Age          1309 non-null   float64
 2   Fare         1309 non-null   float64
 3   Sex          1309 non-null   int64
 4   sibsp        1309 non-null   int64
 5   zero         1309 non-null   int64
 6   zero.1       1309 non-null   int64
 7   zero.2       1309 non-null   int64
 8   zero.3       1309 non-null   int64
 9   zero.4       1309 non-null   int64
 10  zero.5       1309 non-null   int64
 11  zero.6       1309 non-null   int64
 12  Parch        1309 non-null   int64
 13  zero.7       1309 non-null   int64
 14  zero.8       1309 non-null   int64
 15  zero.9       1309 non-null   int64
 16  zero.10      1309 non-null   int64
 17  zero.11      1309 non-null   int64
 18  zero.12      1309 non-null   int64
 19  zero.13      1309 non-null   int64
 20  zero.14      1309 non-null   int64
 21  Pclass       1309 non-null   int64
 22  zero.15      1309 non-null   int64
 23  zero.16      1309 non-null   int64
 24  Embarked     1307 non-null   float64
 25  zero.17      1309 non-null   int64
 26  zero.18      1309 non-null   int64
 27  2urvived     1309 non-null   int64
dtypes: float64(3), int64(25)
memory usage: 286.5 KB
None

In [7]:
# Identify if there are any duplicate rows based on all columns
duplicate_rows = titanic_data.duplicated()

In [8]:
# Print the number of duplicate rows
print("Number of duplicate rows found:", duplicate_rows.sum())

Number of duplicate rows found: 0

In [10]:
# Remove any duplicate rows found in the dataset (in our case there's no such need)
titanic_df = titanic_data.drop_duplicates()

In [11]:
# Verify the removal of duplicates by checking the number of rows before and after
print("Number of rows before removing duplicates:", len(titanic_data))

Number of rows before removing duplicates: 1309

In [12]:
# Verify the removal of duplicates by checking the number of rows before and after
print("Number of rows before removing duplicates:", len(titanic_df))

Number of rows before removing duplicates: 1309

Exercise 2: Handling Missing Values

In [13]:
# Check for missing values in the DataFrame
missing_data = titanic_df.isnull()
print(missing_data.head())

   Passengerid    Age   Fare    Sex  sibsp   zero  zero.1  zero.2  zero.3  \
0        False  False  False  False  False  False   False   False   False
1        False  False  False  False  False  False   False   False   False
2        False  False  False  False  False  False   False   False   False
3        False  False  False  False  False  False   False   False   False
4        False  False  False  False  False  False   False   False   False

   zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  Embarked  \
0   False  ...    False    False    False   False    False    False     False
1   False  ...    False    False    False   False    False    False     False
2   False  ...    False    False    False   False    False    False     False
3   False  ...    False    False    False   False    False    False     False
4   False  ...    False    False    False   False    False    False     False

   zero.17  zero.18  2urvived
0    False    False     False
1    False    False     False
2    False    False     False
3    False    False     False
4    False    False     False

[5 rows x 28 columns]

In [14]:
# Count missing values in each column
missing_counts = titanic_df.isnull().sum()
print("\nMissing value counts in each column:")
print(missing_counts)

Missing value counts in each column:
Passengerid    0
Age            0
Fare           0
Sex            0
sibsp          0
zero           0
zero.1         0
zero.2         0
zero.3         0
zero.4         0
zero.5         0
zero.6         0
Parch          0
zero.7         0
zero.8         0
zero.9         0
zero.10        0
zero.11        0
zero.12        0
zero.13        0
zero.14        0
Pclass         0
zero.15        0
zero.16        0
Embarked       2
zero.17        0
zero.18        0
2urvived       0
dtype: int64

In [21]:
# # Strategy 1: Removal of rows with missing values
# titanic_df_removed = titanic_df.dropna()

In [23]:
# Strategy 2: Fill missing values with the mean of the column
titanic_df_mean_filled = titanic_df.fillna(titanic_df.mean())

In [24]:
# Strategy 3: Filling missing values with a constant for categorical columns
titanic_df_filled = titanic_df.fillna('Unknown')

In [25]:
# Print the first few rows of each processed DataFrame to verify
print("\nDataFrame after removal of rows with missing values:")
print(titanic_df_removed.head())
print("\nDataFrame after filling missing values with the mean of the column:")
print(titanic_df_mean_filled.head())
print("\nDataFrame after filling missing values with a constant:")
print(titanic_df_filled.head())

DataFrame after removal of rows with missing values:
   Passengerid   Age     Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
0            1  22.0   7.2500    0      1     0       0       0       0
1            2  38.0  71.2833    1      1     0       0       0       0
2            3  26.0   7.9250    1      0     0       0       0       0
3            4  35.0  53.1000    1      1     0       0       0       0
4            5  35.0   8.0500    0      0     0       0       0       0

   zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  Embarked  \
0       0  ...        0        0        0       3        0        0       2.0
1       0  ...        0        0        0       1        0        0       0.0
2       0  ...        0        0        0       3        0        0       2.0
3       0  ...        0        0        0       1        0        0       2.0
4       0  ...        0        0        0       3        0        0       2.0

   zero.17  zero.18  2urvived
0        0        0         0
1        0        0         1
2        0        0         1
3        0        0         1
4        0        0         0

[5 rows x 28 columns]

DataFrame after filling missing values with the mean of the column:
   Passengerid   Age     Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
0            1  22.0   7.2500    0      1     0       0       0       0
1            2  38.0  71.2833    1      1     0       0       0       0
2            3  26.0   7.9250    1      0     0       0       0       0
3            4  35.0  53.1000    1      1     0       0       0       0
4            5  35.0   8.0500    0      0     0       0       0       0

   zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  Embarked  \
0       0  ...        0        0        0       3        0        0       2.0
1       0  ...        0        0        0       1        0        0       0.0
2       0  ...        0        0        0       3        0        0       2.0
3       0  ...        0        0        0       1        0        0       2.0
4       0  ...        0        0        0       3        0        0       2.0

   zero.17  zero.18  2urvived
0        0        0         0
1        0        0         1
2        0        0         1
3        0        0         1
4        0        0         0

[5 rows x 28 columns]

DataFrame after filling missing values with a constant:
   Passengerid   Age     Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
0            1  22.0   7.2500    0      1     0       0       0       0
1            2  38.0  71.2833    1      1     0       0       0       0
2            3  26.0   7.9250    1      0     0       0       0       0
3            4  35.0  53.1000    1      1     0       0       0       0
4            5  35.0   8.0500    0      0     0       0       0       0

   zero.4  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  Embarked  \
0       0  ...        0        0        0       3        0        0       2.0
1       0  ...        0        0        0       1        0        0       0.0
2       0  ...        0        0        0       3        0        0       2.0
3       0  ...        0        0        0       1        0        0       2.0
4       0  ...        0        0        0       3        0        0       2.0

   zero.17  zero.18  2urvived
0        0        0         0
1        0        0         1
2        0        0         1
3        0        0         1
4        0        0         0

[5 rows x 28 columns]

Exercise 3: Feature Engineering

In [26]:
print(titanic_df.columns)

Index(['Passengerid', 'Age', 'Fare', 'Sex', 'sibsp', 'zero', 'zero.1',
       'zero.2', 'zero.3', 'zero.4', 'zero.5', 'zero.6', 'Parch', 'zero.7',
       'zero.8', 'zero.9', 'zero.10', 'zero.11', 'zero.12', 'zero.13',
       'zero.14', 'Pclass', 'zero.15', 'zero.16', 'Embarked', 'zero.17',
       'zero.18', '2urvived'],
      dtype='object')

In [27]:
# Create a new feature 'Family Size' by adding 'SibSp' and 'Parch'
titanic_df['FamilySize'] = titanic_df['sibsp'] + titanic_df['Parch']

In [28]:
print(titanic_df.columns)

Index(['Passengerid', 'Age', 'Fare', 'Sex', 'sibsp', 'zero', 'zero.1',
       'zero.2', 'zero.3', 'zero.4', 'zero.5', 'zero.6', 'Parch', 'zero.7',
       'zero.8', 'zero.9', 'zero.10', 'zero.11', 'zero.12', 'zero.13',
       'zero.14', 'Pclass', 'zero.15', 'zero.16', 'Embarked', 'zero.17',
       'zero.18', '2urvived', 'FamilySize'],
      dtype='object')

In [29]:
print(titanic_df)

      Passengerid   Age      Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
0               1  22.0    7.2500    0      1     0       0       0       0
1               2  38.0   71.2833    1      1     0       0       0       0
2               3  26.0    7.9250    1      0     0       0       0       0
3               4  35.0   53.1000    1      1     0       0       0       0
4               5  35.0    8.0500    0      0     0       0       0       0
...           ...   ...       ...  ...    ...   ...     ...     ...     ...
1304         1305  28.0    8.0500    0      0     0       0       0       0
1305         1306  39.0  108.9000    1      0     0       0       0       0
1306         1307  38.5    7.2500    0      0     0       0       0       0
1307         1308  28.0    8.0500    0      0     0       0       0       0
1308         1309  28.0   22.3583    0      1     0       0       0       0

      zero.4  ...  zero.13  zero.14  Pclass  zero.15  zero.16  Embarked  \
0          0  ...        0        0       3        0        0       2.0
1          0  ...        0        0       1        0        0       0.0
2          0  ...        0        0       3        0        0       2.0
3          0  ...        0        0       1        0        0       2.0
4          0  ...        0        0       3        0        0       2.0
...      ...  ...      ...      ...     ...      ...      ...       ...
1304       0  ...        0        0       3        0        0       2.0
1305       0  ...        0        0       1        0        0       0.0
1306       0  ...        0        0       3        0        0       2.0
1307       0  ...        0        0       3        0        0       2.0
1308       0  ...        0        0       3        0        0       0.0

      zero.17  zero.18  2urvived  FamilySize
0           0        0         0           1
1           0        0         1           1
2           0        0         1           0
3           0        0         1           1
4           0        0         0           0
...       ...      ...       ...         ...
1304        0        0         0           0
1305        0        0         0           0
1306        0        0         0           0
1307        0        0         0           0
1308        0        0         0           2

[1309 rows x 29 columns]

In [36]:
# List of column names
column_names = ['Passengerid', 'Age', 'Fare', 'Sex', 'sibsp', 'zero', 'Embarked', '2urvived']

# Concatenate column names to generate table name
table_name = '_'.join(column_names)

# Print the generated table name
print("Generated table name:", table_name)

Generated table name: Passengerid_Age_Fare_Sex_sibsp_zero_Embarked_2urvived

In [37]:
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler

# Convert categorical variables into numerical form
# Label encode the 'Sex' column
label_encoder = LabelEncoder()
titanic_df['Sex'] = label_encoder.fit_transform(titanic_df['Sex'])

# One-hot encode the 'Embarked' column
embarked_onehot = pd.get_dummies(titanic_df['Embarked'], prefix='Embarked')
titanic_df = pd.concat([titanic_df, embarked_onehot], axis=1)
titanic_df.drop('Embarked', axis=1, inplace=True)

In [38]:
# Normalize or standardize numerical features if required
# Standardize the 'Age' and 'Fare' columns
scaler = StandardScaler()
titanic_df[['Age', 'Fare']] = scaler.fit_transform(titanic_df[['Age', 'Fare']])

# Print the first few rows of the modified DataFrame to verify
print(titanic_df.head())

   Passengerid       Age      Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
0            1 -0.581628 -0.503291    0      1     0       0       0       0
1            2  0.658652  0.734744    1      1     0       0       0       0
2            3 -0.271558 -0.490240    1      0     0       0       0       0
3            4  0.426099  0.383183    1      1     0       0       0       0
4            5  0.426099 -0.487824    0      0     0       0       0       0

   zero.4  ...  Pclass  zero.15  zero.16  zero.17  zero.18  2urvived  \
0       0  ...       3        0        0        0        0         0
1       0  ...       1        0        0        0        0         1
2       0  ...       3        0        0        0        0         1
3       0  ...       1        0        0        0        0         1
4       0  ...       3        0        0        0        0         0

   FamilySize  Embarked_0.0  Embarked_1.0  Embarked_2.0
0           1             0             0             1
1           1             1             0             0
2           0             0             0             1
3           1             0             0             1
4           0             0             0             1

[5 rows x 31 columns]

Exercise 4: Outlier Detection And Handling

In [39]:
# Define a function to detect outliers using IQR
def detect_outliers_iqr(df, column):
    Q1 = df[column].quantile(0.25)
    Q3 = df[column].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    outliers = df[(df[column] < lower_bound) | (df[column] > upper_bound)]
    return outliers

# Detect outliers in the 'Fare' column using IQR
outliers_fare = detect_outliers_iqr(titanic_df, 'Fare')

# Handling outliers by capping
titanic_df['Fare'] = titanic_df['Fare'].clip(lower=outliers_fare['Fare'].min(), upper=outliers_fare['Fare'].max())

# Print the number of outliers detected and the modified DataFrame
print("Number of outliers detected in 'Fare' column:", len(outliers_fare))
print("Modified DataFrame after handling outliers:")
print(titanic_df.head())

Number of outliers detected in 'Fare' column: 171
Modified DataFrame after handling outliers:
   Passengerid       Age      Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
0            1 -0.581628  0.644196    0      1     0       0       0       0
1            2  0.658652  0.734744    1      1     0       0       0       0
2            3 -0.271558  0.644196    1      0     0       0       0       0
3            4  0.426099  0.644196    1      1     0       0       0       0
4            5  0.426099  0.644196    0      0     0       0       0       0

   zero.4  ...  Pclass  zero.15  zero.16  zero.17  zero.18  2urvived  \
0       0  ...       3        0        0        0        0         0
1       0  ...       1        0        0        0        0         1
2       0  ...       3        0        0        0        0         1
3       0  ...       1        0        0        0        0         1
4       0  ...       3        0        0        0        0         0

   FamilySize  Embarked_0.0  Embarked_1.0  Embarked_2.0
0           1             0             0             1
1           1             1             0             0
2           0             0             0             1
3           1             0             0             1
4           0             0             0             1

[5 rows x 31 columns]

Exercise 5: Data Standardization And Normalization

In [40]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

# Apply standardization to features with a wide range of values
scaler = StandardScaler()
titanic_df[['Age', 'Fare']] = scaler.fit_transform(titanic_df[['Age', 'Fare']])

# Apply normalization to data that requires a bounded range
min_max_scaler = MinMaxScaler()
titanic_df[['sibsp', 'Parch']] = min_max_scaler.fit_transform(titanic_df[['sibsp', 'Parch']])

# Print the first few rows of the modified DataFrame
print("\nModified DataFrame after standardization and normalization:")
print(titanic_df.head())

Modified DataFrame after standardization and normalization:
   Passengerid       Age      Fare  Sex  sibsp  zero  zero.1  zero.2  zero.3  \
0            1 -0.581628 -0.232953    0  0.125     0       0       0       0
1            2  0.658652 -0.111299    1  0.125     0       0       0       0
2            3 -0.271558 -0.232953    1  0.000     0       0       0       0
3            4  0.426099 -0.232953    1  0.125     0       0       0       0
4            5  0.426099 -0.232953    0  0.000     0       0       0       0

   zero.4  ...  Pclass  zero.15  zero.16  zero.17  zero.18  2urvived  \
0       0  ...       3        0        0        0        0         0
1       0  ...       1        0        0        0        0         1
2       0  ...       3        0        0        0        0         1
3       0  ...       1        0        0        0        0         1
4       0  ...       3        0        0        0        0         0

   FamilySize  Embarked_0.0  Embarked_1.0  Embarked_2.0
0           1             0             0             1
1           1             1             0             0
2           0             0             0             1
3           1             0             0             1
4           0             0             0             1

[5 rows x 31 columns]

Exercise 6: Feature Encoding

In [42]:
print(titanic_df.columns)

Index(['Passengerid', 'Age', 'Fare', 'Sex', 'sibsp', 'zero', 'zero.1',
       'zero.2', 'zero.3', 'zero.4', 'zero.5', 'zero.6', 'Parch', 'zero.7',
       'zero.8', 'zero.9', 'zero.10', 'zero.11', 'zero.12', 'zero.13',
       'zero.14', 'Pclass', 'zero.15', 'zero.16', 'zero.17', 'zero.18',
       '2urvived', 'FamilySize', 'Embarked_0.0', 'Embarked_1.0',
       'Embarked_2.0'],
      dtype='object')

In [47]:
from sklearn.preprocessing import LabelEncoder

# Identify categorical columns
categorical_columns = ['Sex', 'Embarked_0.0']

# One-hot encoding for nominal variables
encoded_features = pd.get_dummies(titanic_df[categorical_columns], drop_first=True)
# Integration of encoded features back into the main dataset
titanic_df = pd.concat([titanic_df, encoded_features], axis=1)

# Drop the original categorical columns
titanic_df.drop(categorical_columns, axis=1, inplace=True)

# Print the first few rows of the modified DataFrame
print(titanic_df.head())

   Passengerid       Age      Fare  sibsp  zero  zero.1  zero.2  zero.3  \
0            1 -0.581628 -0.232953  0.125     0       0       0       0
1            2  0.658652 -0.111299  0.125     0       0       0       0
2            3 -0.271558 -0.232953  0.000     0       0       0       0
3            4  0.426099 -0.232953  0.125     0       0       0       0
4            5  0.426099 -0.232953  0.000     0       0       0       0

   zero.4  zero.5  ...  zero.14  Pclass  zero.15  zero.16  zero.17  zero.18  \
0       0       0  ...        0       3        0        0        0        0
1       0       0  ...        0       1        0        0        0        0
2       0       0  ...        0       3        0        0        0        0
3       0       0  ...        0       1        0        0        0        0
4       0       0  ...        0       3        0        0        0        0

   2urvived  FamilySize  Embarked_1.0  Embarked_2.0
0         0           1             0             1
1         1           1             0             0
2         1           0             0             1
3         1           1             0             1
4         0           0             0             1

[5 rows x 29 columns]

In [50]:
# Load the Titanic dataset
titanic_df = pd.read_csv("train_and_test2.csv")

# Integration of encoded features back into the main dataset
titanic_df = pd.concat([titanic_df, encoded_features], axis=1)

# Drop the original categorical columns
titanic_df.drop(categorical_columns, axis=1, inplace=True)

# Print the first few rows of the modified DataFrame
print(titanic_df.head())

   Passengerid   Age     Fare  sibsp  zero  zero.1  zero.2  zero.3  zero.4  \
0            1  22.0   7.2500      1     0       0       0       0       0
1            2  38.0  71.2833      1     0       0       0       0       0
2            3  26.0   7.9250      0     0       0       0       0       0
3            4  35.0  53.1000      1     0       0       0       0       0
4            5  35.0   8.0500      0     0       0       0       0       0

   zero.5  ...  zero.12  zero.13  zero.14  Pclass  zero.15  zero.16  Embarked  \
0       0  ...        0        0        0       3        0        0       2.0
1       0  ...        0        0        0       1        0        0       0.0
2       0  ...        0        0        0       3        0        0       2.0
3       0  ...        0        0        0       1        0        0       2.0
4       0  ...        0        0        0       3        0        0       2.0

   zero.17  zero.18  2urvived
0        0        0         0
1        0        0         1
2        0        0         1
3        0        0         1
4        0        0         0

[5 rows x 27 columns]

In [51]:
# Create age groups (bins) using pd.cut()
# Define the intervals for age groups
age_bins = [0, 18, 30, 40, 50, 60, 100]  # Define age intervals for age groups

# Define labels for the age groups
age_labels = ['0-18', '19-30', '31-40', '41-50', '51-60', '61-100']

# Create a new column 'Age_Group' with age groups
titanic_df['Age_Group'] = pd.cut(titanic_df['Age'], bins=age_bins, labels=age_labels)

# Apply one-hot encoding to the age groups
age_groups_encoded = pd.get_dummies(titanic_df['Age_Group'], prefix='Age')

# Concatenate the encoded age groups with the original DataFrame
titanic_df = pd.concat([titanic_df, age_groups_encoded], axis=1)

# Print the first few rows of the modified DataFrame
print(titanic_df.head())

   Passengerid   Age     Fare  sibsp  zero  zero.1  zero.2  zero.3  zero.4  \
0            1  22.0   7.2500      1     0       0       0       0       0
1            2  38.0  71.2833      1     0       0       0       0       0
2            3  26.0   7.9250      0     0       0       0       0       0
3            4  35.0  53.1000      1     0       0       0       0       0
4            5  35.0   8.0500      0     0       0       0       0       0

   zero.5  ...  zero.17  zero.18  2urvived  Age_Group  Age_0-18  Age_19-30  \
0       0  ...        0        0         0      19-30         0          1
1       0  ...        0        0         1      31-40         0          0
2       0  ...        0        0         1      19-30         0          1
3       0  ...        0        0         1      31-40         0          0
4       0  ...        0        0         0      31-40         0          0

   Age_31-40  Age_41-50  Age_51-60  Age_61-100
0          0          0          0           0
1          1          0          0           0
2          0          0          0           0
3          1          0          0           0
4          1          0          0           0

[5 rows x 34 columns]