<a href="https://colab.research.google.com/github/EvgeniaKantor/DI-Bootcamp/blob/main/Week1/Day3/Exercises_XP_Ninja.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 1 : Cars

In [7]:
models = ("Volkswagen", "Toyota", "Ford Motor", "Honda", "Chevrolet")

model_list = []
for mpdel in models:
   model_list.append(mpdel)
print(model_list)

['Volkswagen', 'Toyota', 'Ford Motor', 'Honda', 'Chevrolet']

In [8]:
#Print out a message saying how many manufacturers/companies are in the list
print("There are " + str(len(model_list)) + " manufacturers in the list")

There are 5 manufacturers in the list

In [10]:
#Print the list of manufacturers in reverse/descending order (Z-A)
model_list.sort(reverse=True)
print(model_list)

['Volkswagen', 'Toyota', 'Honda', 'Ford Motor', 'Chevrolet']

In [12]:
#Find out how many manufacturers’ names have the letter ‘o’ in them
count = 0
for model in model_list:
    if 'o' in model:
        count += 1
print(count)

5

In [15]:
# Count how many manufacturer names contain the letter 'o'
count = sum(1 for model in model_list if 'o' in model.lower())

print(f"Number of manufacturers with 'o' in their name: {count}")

Number of manufacturers with 'o' in their name: 5

In [13]:
#Find out how many manufacturers’ names do not have the letter ‘i’ in them.
count = 0
for model in model_list:
    if 'i' not in model:
        count += 1
print(count)

5

In [16]:
# Count how many manufacturer names contain the letter 'o'
count = sum(1 for model in model_list if 'i' not in model.lower())

print(f"Number of manufacturers without 'i' in their name: {count}")

Number of manufacturers without 'i' in their name: 5

There are a few duplicates in this list:["Honda","Volkswagen", "Toyota", "Ford Motor", "Honda", "Chevrolet", "Toyota"]

1) Remove these programmatically. (Hint: you can use set to help you).

2) Print out the companies without duplicates, in a comma-separated string with no line-breaks (eg. “Acura, Alfa Romeo, Aston Martin, …”), also print out a message saying how many companies are now in the list.

In [20]:
car_list = ["Honda","Volkswagen", "Toyota", "Ford Motor", "Honda", "Chevrolet", "Toyota"]

In [22]:
print(list(set(car_list)))

['Volkswagen', 'Honda', 'Ford Motor', 'Chevrolet', 'Toyota']

In [23]:
# Sort the list in ascending order
car_list.sort()

# Join the list into a comma-separated string
comma_separated_string = ", ".join(car_list)

# Print the comma-separated string
print(comma_separated_string)

# Print the number of unique companies
print(f"There are now {len(car_list)} companies in the list.")

Chevrolet, Ford Motor, Honda, Honda, Toyota, Toyota, Volkswagen
There are now 7 companies in the list.

Bonus: Print out the list of manufacturers in ascending order (A-Z), but reverse the letters of each manufacturer’s name.

In [18]:
# Sort the list in ascending order
sorted_model_list = sorted(model_list)

# Reverse the letters of each manufacturer's name
reversed_names = [name[::-1] for name in sorted_model_list]

# Print the reversed names
for name in reversed_names:
    print(name)

telorvehC
rotoM droF
adnoH
atoyoT
negawskloV